@import '/src/styles/variable';
@import '/src/styles/_bootstrap';

.input-label {
  color: #002e4b;
}

.mt-15 {
  // margin-top: 15px;
}
.infor-content {
  // margin-top: 15px; Question:沒反應
  font-family: 'Noto Sans TC';
  color: #878b8e;
}

.fz-18 {
  font-size: 18px;
}

.fz-16 {
  font-size: 16px;
}
.fz-14 {
  font-size: 14px;
}

button.btn-submit {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
  background-color: $primary-color;
  border: none;
  height: 45px;
  max-height: 45px;
  color: $color-white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  &:hover,
  &:active {
    background-color: $primary-color;
    opacity: 0.7;
  }
}
.modal-header {
  & > .flex-0,
  & > .flex-1 {
    margin: auto;
    color: $color-white;
  }
  & > .flex-0 {
    height: 20px;
    width: 20px;
    & > svg-icon {
      width: 20px;
      height: 40px;
      line-height: 17px;
      font-size: 12px;
      color: rgb(255, 255, 255);
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  & > .flex-1 {
    & > h4 {
      text-align: center;
    }
  }
}

.col-12 {
  max-height: 30px;
}

input[type='text'] {
  border: none;
  width: 100%;
  padding: 10px 15px;
  max-height: 45px;
  height: 45px;
  background-color: $color-gray-high-light;
  border-radius: 10px;
}

.modal-footer {
  border-top: none;
}

.text-remark {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $color-white-dark;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: $color-gray;
  &::placeholder {
    color: $color-gray-light;
  }
}
