<ng-container *ngIf="!isSettingMode; else settingMode">
  <div class="modal-header">
    <div class="modal-control">
      <div class="mx-auto">
        <h4 class="ml-3 font-bold">新增常用</h4>
      </div>
      <svg-icon
        *ngIf="showClosed"
        class="cursor-pointer"
        key="close"
        fontSize="12px"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></svg-icon>
    </div>
    <input #search id="pac-input col-12" type="text" placeholder="搜尋美食餐廳" />
  </div>
  <div class="modal-body">
    <!-- <app-account-location (click)="toggleSettingMode(true)"></app-account-location> -->
  </div>
</ng-container>

<ng-template #settingMode>
  <div class="modal-header">
    <div class="modal-control" [ngClass]="{ 'setting-mode-header': isSettingMode }">
      <svg-icon (click)="toggleSettingMode(false)" id="back" key="back"></svg-icon>
      <div class="mx-auto">
        <h4 class="ml-3 font-bold">新增外送設定</h4>
      </div>
      <svg-icon
        *ngIf="showClosed"
        class="cursor-pointer"
        key="close"
        fontSize="12px"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></svg-icon>
    </div>
  </div>
  <div class="modal-body" [ngClass]="{ 'modal-body--setting-mode': isSettingMode }">
    <div class="modal-address">
      <div *ngIf="mode === 'isSetting'">
        <div class="sub-title">地址</div>
        <div>106台灣台北市大安區敦化南路二段99號33樓</div>
        <input type="text" class="text--gray-light col-12" placeholder="樓層或房號" value="#301" />
        <input type="text" class="text--gray-light col-12" placeholder="公司或大樓名稱" value="摩天大樓" />
      </div>
      <div *ngIf="mode === 'Setting'">
        <div class="sub-title">地址</div>
        <div></div>
        <input type="text" class="mt-2 bg-grey-100 rounded-md border-none w-full" placeholder="樓層或房號" value="" />
        <input
          type="text"
          class="mt-2 bg-grey-100 rounded-md border-none w-full"
          placeholder="公司或大樓名稱"
          value=""
        />
      </div>
    </div>
    <div class="modal-options">
      <div class="sub-title-options">外送選項</div>
      <div>
        <div *ngIf="mode === 'isSetting'">
          <button
            class="btn-adress modal-options__button is-setting modal-options__clicked"
            (ngClass)="({ 'is-handover': currentHandOver === '1' })"
            id="AccountAddressisSettingButton1"
            (click)="handleHandOver('1')"
          >
            放在門口
          </button>
          <button
            class="btn-adress modal-options__button is-setting"
            (ngClass)="({ 'is-handover': currentHandOver === '2' })"
            id="AccountAddressisSettingButton2"
            (click)="handleHandOver('2')"
          >
            在門口碰面
          </button>
          <button
            class="btn-adress modal-options__button is-setting"
            (ngClass)="({ 'is-handover': currentHandOver === '3' })"
            id="AccountAddressisSettingButton3"
            (click)="handleHandOver('3')"
          >
            在外碰面
          </button>
        </div>
        <div *ngIf="mode === 'Setting'">
          <button
            class="btn-adress modal-options__button"
            (ngClass)="({ 'is-handover': currentHandOver === '1' })"
            id="AccountAddressSettingButton1"
            (click)="handleHandOver('1')"
          >
            放在門口
          </button>
          <button
            class="btn-adress modal-options__button"
            (ngClass)="({ 'is-handover': currentHandOver === '2' })"
            id="AccountAddressSettingButton2"
            (click)="handleHandOver('2')"
          >
            在門口碰面
          </button>
          <button
            class="btn-adress modal-options__button"
            (ngClass)="({ 'is-handover': currentHandOver === '3' })"
            id="AccountAddressSettingButton3"
            (click)="handleHandOver('3')"
          >
            在外碰面
          </button>
        </div>
      </div>
    </div>
    <div class="modal-note">
      <div class="sub-title-options">備註（選填）</div>
      <div *ngIf="mode === 'isSetting'">
        <textarea placeholder="給外送夥伴的指示" class="modal-note__textarea" name="" id="" cols="30" rows="10">
到了請打給我</textarea
        >
      </div>
      <div *ngIf="mode === 'Setting'">
        <textarea
          placeholder="給外送夥伴的指示"
          class="modal-note__textarea"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer flex justify-center items-center">
    <button type="button" class="w-full h-12 rounded-md font-bold cancel-button" (click)="openCancelModal()">
      取消
    </button>
    <button
      type="button"
      class="w-full h-12 rounded-md text-white font-bold"
      [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': !isDisabled }"
      (click)="activeModal.close('accept-privacy')"
    >
      新增
    </button>
  </div>
</ng-template>
