<div class="card info-promo">
  <div class="card-body">
    <div class="card-status" [ngClass]="'card-' + status"></div>
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">
      {{ content }}
    </p>
  </div>
</div>
