@import '/src/styles/variable';

$promo-color: (
  error: #d9534f,
  muted: #acabac,
);

div.info-promo {
  width: 100%;
  height: fit-content;
  padding: 0 0.25rem 0 0.5rem;
  border: 1px solid #e9ecef;

  border-left-width: 6px;
  &.info-promo--error {
    border-left-color: map-get($promo-color, 'error');
  }
  &.info-promo--muted {
    border-left-color: map-get($promo-color, 'muted');
  }
}
.card-title {
  color: $second-color;
}
.card-text {
  color: $color-gray-dark;
}
