<ngb-carousel
  *ngIf="slides"
  [animation]="false"
  [showNavigationArrows]="false"
  [interval]="5000"
  (swipeleft)="swipe($event.type)"
  (swiperight)="swipe($event.type)"
>
  <ng-template *ngFor="let i of slides; index as idx" #ngbSlide>
    <div class="w-full">
      <app-slide [slide]="i" (slideEvent)="(selectCarouselEvent)"></app-slide>
    </div>
  </ng-template>
</ngb-carousel>
