<div class="account">
  <div class="account__container" *ngIf="currentUser$ | async as user">
    <h1 class="account__big-title">帳戶</h1>
    <app-title-item title="名字" (click)="openAccountNameModal()">
      <div class="account__text">Dino</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <app-title-item title="手機號碼" (click)="openAccountPhoneModal()">
      <div class="account__text">0905552611</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <app-title-item title="電子郵件地址" (click)="openAccountEmailModal()">
      <div class="account__text">新增電子郵件地址</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <h2 class="account__title">
      <svg-icon color="#878B8E" key="location" fontSize="24px"></svg-icon>
      <span class="account__title-name">常用地點</span>
    </h2>
    <app-title-item title="住家" (click)="openModifyAddressModal()">
      <div class="account__text account__black">台北市內湖區陽光街365巷39號1樓#306</div>
      <div class="account__option">放在門口</div>
      <div class="account__memo">到了請打給我</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <app-title-item title="公司" (click)="openCompanyAddressModal()">
      <div class="account__text">新增公司地址</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <h2 class="account__title">
      <svg-icon color="#878B8E" key="bell-pin" fontSize="24px"></svg-icon>
      <span class="account__title-name">付款方式</span>
    </h2>
    <app-title-item title="信用卡" (click)="openAccountCreditCardModal()">
      <div class="account__text">**** 4382</div>
      <div class="account__icon">
        <svg-icon color="#878B8E" key="right" fontSize="14px"></svg-icon>
      </div>
    </app-title-item>
    <app-title-item (click)="openAccountCreditAddCardModal()">
      <div class="inline-flex">
        <svg-icon class="svg-icon flex-0" color="#C9A063" key="plus" fontSize="14px"></svg-icon>
        <span class="account__payment flex-1">新增卡片</span>
      </div>
    </app-title-item>
    <h2 class="account__title">
      <svg-icon color="#878B8E" key="credit-card" fontSize="24px"></svg-icon>
      <span class="account__title-name">通知</span>
    </h2>
    <app-title-item>
      <div class="account__switch-container form-check form-switch">
        <div class="col-10">
          <span>App推播通知</span>
        </div>
        <div class="col-2">
          <app-switch [checked]="isMaill" (switchEvent)="handleAppRadio($event)"></app-switch>
        </div>
      </div>
    </app-title-item>
    <app-title-item>
      <div class="account__switch-container form-check form-switch">
        <div class="col-10">
          <span>Email優惠訊息</span>
        </div>
        <div class="col-2">
          <app-switch [checked]="isApp" (switchEvent)="handleMailRadio($event)"></app-switch>
        </div>
      </div>
    </app-title-item>
    <button class="account__logout" (click)="openLogoutAlert()">
      <svg-icon color="#878B8E" key="logout" fontSize="24px"></svg-icon>
      <span>登出</span>
    </button>
  </div>
</div>
