@import '/src/styles/variable';
.account {
  padding: 63px 0;
  background: #fafafa;

  &__big-title {
    color: #002e4b;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__container {
    width: 600px;
    margin: auto;
  }

  &__text {
    color: #878b8e;
  }

  &__option {
    color: #878b8e;
    font-size: 14px;
  }
  &__memo {
    color: #878b8e;
    font-size: 14px;
  }
  &__black {
    color: black;
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    color: #002e4b;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    line-height: 24px;
  }

  &__title-name {
    padding-left: 10px;
  }

  &__switch-container {
    display: flex;
    justify-content: space-between;

    &__center {
      padding-right: 50px;
    }
  }

  &__payment {
    color: #c9a063;
  }

  &__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c9a063;
    border-radius: 10px;
    width: 100%;
    padding: 10px 0;
    color: #c9a063;
    margin-top: 32px;
  }
}

.logout-modal > .modal-dialog {
  max-width: 335px;
}

.logout-modal > .modal-dialog > .modal-content {
  height: 175px;
  min-height: auto;
  padding: 48px 24px 24px 24px;
}

.logout-modal > .modal-dialog > .modal-content > app-alert {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logout-modal > .modal-dialog > .modal-content > app-alert > .modal-body {
  max-height: 103px;
}

.modal-backdrop-customer {
  z-index: 100;
}

.btn-submit {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
  background-color: $primary-color;
  border: none;
  color: $color-white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover,
  &:active {
    background-color: $primary-color;
    opacity: 0.7;
  }
}

.svg-icon-logout {
  line-height: 24px;
}

.svg-icon {
  line-height: 24px;
  height: 24px;
  width: 24px;
}

.form-check {
  &.form-switch {
    padding-left: 0;
    display: flex;
    & .col-10 {
      padding-left: 0;
      height: 44px;
      line-height: 44px;
    }
    & .col-2 {
      padding-right: 0;
      display: flex;
      align-items: flex-end;
      height: 44px;
      justify-content: flex-end;
    }
  }
}
