<div class="modal-header">
  <div class="flex-1">
    <h4 class="ml-3 font-bold fz-18 text-center">{{ headerTitle }}</h4>
  </div>
  <div class="flex-0">
    <svg-icon
      *ngIf="showClosed"
      class="cursor-pointer"
      key="close"
      fontSize="12px"
      aria-label="Close"
      color="#FFFFFF"
      (click)="activeModal.dismiss()"
    ></svg-icon>
  </div>
</div>
<div class="modal-body flex flex-column" checkScrolling (isScrollToBottom)="toBottom($event)">
  <div class="col-12">
    <span class="input-label fz-16">{{ label }}</span>
  </div>
  <div class="col-12" *ngIf="formTypeValue !== 'language'">
    <input type="text" [value]="_value" class="text--gray-light col-12" [placeholder]="placeholder" />
  </div>
  <div class="col-12" *ngIf="formTypeValue === 'language'">
    <app-ngbd-drop-down> </app-ngbd-drop-down>
  </div>
  <div class="col-12">
    <span class="infor-content fz-14"> {{ inForContent }} </span>
  </div>
</div>

<div class="modal-footer flex justify-center items-center">
  <button
    type="button"
    [disabled]="isDisabled"
    class="col-12 btn-submit"
    (click)="activeModal.dismiss(); openOptModal(phoneNumber, headerTitle)"
  >
    {{ buttonText }}
  </button>
</div>
