@import '/src/styles/variable';

a {
  display: inline-block;
  color: $color-white;
  font-weight: lighter;
}

.container-footer {
  display: inline-flex;
  background-color: $color-blue-deep-dark;
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 100vw;
  @media (max-width: 991.98px) {
    height: 550px;
    flex-direction: column;
    padding: 15px 33px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer-block {
  min-width: 120px;
  padding-left: map-get($spacing-array, 16);
  @media (max-width: 991.98px) {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.footer--logo {
  flex-grow: 0;
  & img {
    max-width: 200px;
  }
}

.footer--left {
  flex-grow: 0;
  margin-left: map-get($spacing-array, 8);
  margin-right: map-get($spacing-array, 8);
  @media (max-width: 991.98px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer--center {
  flex-grow: 1;
}

.footer--right {
  flex-grow: 0;
  text-align: right;
  padding-right: map-get($spacing-array, 16);
  margin-left: auto;
  @media (max-width: 991.98px) {
    padding-right: 0;
    margin-left: 0;
  }
  & > .footer--block-cta {
    margin-bottom: map-get($spacing-array, 6);
  }
  & a {
    font-size: map-get($spacing-array, 3);
  }
}

.text--leading-5 {
  line-height: map-get($spacing-array, 5);
  margin-bottom: map-get($spacing-array, 3);
  & > span {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: map-get($spacing-array, 2);
  }
}

.select-lang {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: map-get($spacing-array, 4);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: map-get($spacing-array, 1);
  background-color: transparent;
  border-style: none;
  appearance: none;
}
.text--inline-block {
  display: inline-block;
  color: $color-white;
  font-weight: 300;
}

#dropdown-lang {
  color: $color-white;
  padding-right: 0;
  padding-left: map-get($spacing-array, 4);
  margin-left: map-get($spacing-array, 1);
  background-color: transparent;
  line-height: map-get($spacing-array, 4);
  border-style: none;
  appearance: none;
  vertical-align: baseline;
  & > button.btn-address--bg {
    background-color: $color-blue-deep-dark;
    color: $color-white;
  }
}
