<div class="container-footer">
  <div class="footer-block footer--logo">
    <img [routerLink]="['/home']" class="cursor-pointer" alt="" title="" src="/assets/images/logo_transparent.png" />
  </div>

  <div class="footer-block footer--left">
    <p class="text--leading-5">
      <a routerLink="#" i18n>關於 It"s Good To Eat</a>
    </p>
    <p class="text--leading-5">
      <a routerLink="#" i18n>註冊成為合作夥伴</a>
    </p>
    <p class="text--leading-5">
      <a routerLink="#" i18n>新增您的餐廳</a>
    </p>
  </div>
  <div class="footer-block footer--center">
    <p class="text--leading-5">
      <a routerLink="#">FAQ</a>
    </p>
    <div ngbDropdown class="d-inline-block">
      <span class="text--inline-block" i18n>語言</span>
      <button class="btn btn-outline-primary" id="dropdown-lang" ngbDropdownToggle>{{ currentLang }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdown-lang">
        <button class="btn-lang--bg" *ngFor="let i of langs" (click)="handleLangChange(i)" ngbDropdownItem>
          {{ i }}
        </button>
      </div>
    </div>
  </div>
  <div class="footer-block footer--right">
    <div class="footer-block-cta">
      <app-cta [buttons]="ctaButton"></app-cta>
    </div>
    <div class="footer-block-link">
      <!-- <p class="text--inline-block text--copy">&copy; 2021 It"s Good To Eat</p> -->
      <p class="text--inline-block">
        <a routerLink="#" i18n>© 2021 It"s Good To Eat</a>・<a routerLink="#" i18n>使用條款・隱私權政策</a>
      </p>
    </div>
  </div>
</div>
