<ng-container>
  <div class="modal-header">
    <div class="modal-control">
      <div class="mx-auto">
        <h4 class="ml-3 font-bold">時間與地址</h4>
      </div>
      <svg-icon
        class="cursor-pointer"
        key="close"
        fontSize="12px"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></svg-icon>
    </div>
    <div class="modal-control">
      <input
        class="input-text txt-white txt-search"
        placeholder="請輸入地址"
        ngx-google-places-autocomplete
        #placesRef="ngx-places"
        [options]="options"
        (onAddressChange)="handleAddressChange($event)"
      />
    </div>
  </div>
  <div class="modal-body">
    <div class="account-location">
      <div class="account-location-icon">
        <svg-icon color="#878B8E" key="location-arrow" fontSize="16px"></svg-icon>
      </div>
      <div class="account-location-name">目前地點</div>
      <div class="account-address">{{ gms.currentAddress }}</div>
    </div>
  </div>
</ng-container>
