@import '/src/styles/variable';
input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  display: block;
  height: 25px;
  width: 40px;
  border-radius: 100px;
  position: relative;
  background-color: $color-gray;
}
label:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50rem;
  transition: 0.3s;
}
.switch-txt::before,
.switch-txt::after {
  display: block;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.switch-txt::before {
  content: attr(turnOn);
  color: #fff;
}
.switch-txt::after {
  content: attr(turnOff);
  color: #ccc;
}

input:checked + label {
  background: $primary-color;
}
input:checked + label:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}

.form-check {
  padding-left: 0;
}
