<input type="checkbox" id="switch" [checked]="checked" />
<label for="switch" (click)="handleSwitchClick($event)">
  <!-- <span class="switch-txt" [turnOn]="txtOn" [turnOff]="txtOff"></span> -->
</label>
