<div class="container-nav" [ngClass]="{ 'is-active': app.navbarActive$ | async }">
  <button class="btn-close" (click)="app.toggleNavbarEvent(false)">
    <svg-icon color="#C9A063" key="close" fontSize="12px"></svg-icon>
  </button>
  <ul class="nav-list">
    <li>
      <a class="nav-item" (click)="navigate('/login')">
        <svg-icon color="#C9A063" key="label" fontSize="24px"></svg-icon>
        <span class="nav-title" i18n>優惠</span>
      </a>
    </li>
    <li>
      <a class="nav-item" (click)="navigate('/order')">
        <svg-icon color="#C9A063" key="paper" fontSize="24px"></svg-icon>
        <span class="nav-title" i18n>訂單</span>
      </a>
    </li>
    <li>
      <a class="nav-item" (click)="navigate('/account/C_1640674416')">
        <svg-icon color="#C9A063" key="user" fontSize="24px"></svg-icon>
        <span class="nav-title" i18n>帳戶</span>
      </a>
    </li>
  </ul>
</div>
