@import '/src/styles/variable';

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $second-color;
  width: 270px;
  height: 100%;
}

.nav-list {
  position: absolute;
  top: 124px;
  left: 80px;
  color: $primary-color;
  font-size: 24px;
}

.nav-item {
  display: flex;
  align-content: center;
  margin-bottom: 40px;
  color: $primary-color;
  font-weight: lighter;
  & > * {
    height: 30px;
  }
}

.nav-title {
  padding-left: 14px;
}

.btn-close {
  position: absolute;
  top: 36px;
  left: 80px;
}
