@import '/src/styles/variable';

.flex-0 {
  flex-grow: 0;
}
.flex-1 {
  flex-grow: 1;
}

.container-header {
  width: 100%;
  // padding-left: map-get($spacing-array, 12);
  // padding-right: map-get($spacing-array, 12);
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: map-get($spacing-array, 16);
  padding: map-get($spacing-array, 3) map-get($spacing-array, 16);
  @media (max-width: 991.98px) {
    height: fit-content;
    padding: map-get($spacing-array, 3) map-get($spacing-array, 4);
  }
}

.navbar {
  justify-content: flex-start;
  > * {
    @media (max-width: 768px) {
      width: 100%;
      padding: 5px 1rem;
    }
  }
}

.btn-navbar {
  display: inline-flex;
  margin-right: 1rem;
}

.input-icon {
  position: absolute;
  height: 40px;
  line-height: 40px;
  width: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-primary {
  margin-left: 15px;
  background-color: $color-blue-deep-dark;
  border: none;
  height: 40px;
  width: 55px;

  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 2rem;
  & .input-icon {
    position: relative;
  }
}

.badge {
  margin-top: -10px;
  top: initial;
}
.block-logo {
  & img {
    max-width: 120px;
  }
}
