<nav class="container-header">
  <div class="navbar flex flex-1">
    <div class="block-logo flex-0">
      <button (click)="app.toggleNavbarEvent(true)">
        <img class="btn-navbar" alt="" title="" src="/assets/svg/menu.svg" />
      </button>
      <img
        [routerLink]="['/']"
        class="inline-flex mr-10 cursor-pointer"
        alt=""
        title=""
        src="/assets/images/logo_transparent.png"
      />
    </div>
    <div class="flex-1">
      <app-address-bar
        [time]="timeList"
        (timeEvent)="handleTimeChange($event)"
        [currentTime]="currentTime"
        (click)="(handleAddressClick)"
      ></app-address-bar>
    </div>
    <div class="flex-0 inline-flex">
      <app-search-bar
        placeholder="搜尋美食餐廳"
        (searchEvent)="handleSearchEvent($event)"
        (typingEvent)="handleTypingEvent($event)"
        class="flex-1"
      >
        <span class="input-icon">
          <svg-icon class="mr-1" key="search" color="#FFFFFF" fontSize="16px"></svg-icon>
        </span>
      </app-search-bar>
      <div class="flex-0">
        <button type="button" class="btn btn-primary" (click)="handleCartBtnClick()">
          <svg-icon class="mr-1" key="cart" color="#FFFFFF" fontSize="16px"></svg-icon>
          <ng-container *ngIf="cart.countSub$ | async as count">
            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" *ngIf="count > 0">
              {{ count }}
            </span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="flex">
    <app-search-bar
      *ngIf="platform === '0'"
      class="inline-flex mr-3"
      [platform]="platform"
      [placeholder]="'搜尋美食餐廳'"
      (searchEvent)="typeSearch($event)"
    ></app-search-bar>
    <app-cart class="inline-flex" [redirectTo]="'pages/cart'"></app-cart>
  </div> -->

  <!-- <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse"></div>
  <ng-template #doSomething>
    <p>
      You logged in <em>{{ user }}!</em>
    </p>
    <button class="btn btn-primary" (click)="logOut()">Log out</button>
  </ng-template>
  <ng-template #doSomethingElse>
    <a [routerLink]="['/login']" class="btn btn-primary">Log in</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Sign up</a>
  </ng-template> -->
</nav>
