::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ACABAC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ACABAC;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ACABAC;
}
