<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="_types === 'phone'" class="w-full mb-3">
    <label for="{{ _types }}"
      ><p class="text-base text-gray-900">{{ title }}</p></label
    >
    <div class="absolute h-14 pl-3">
      <div class="inline-block align-middle h-full"></div>
      <label class="inline-block align-middle" for="number">+{{ phoneCode }}</label>
    </div>
    <input
      id="{{ _types }}"
      name="{{ _types }}"
      type="tel"
      [required]="required"
      class="mt-1 bg-grey-200 rounded-md border-none w-full indent-14"
      [placeholder]="placeholder"
      phoneMask
      formControlName="{{ _types }}"
      autocomplete="off"
    />
    <p *ngIf="form.controls[_types].hasError('phoneInValid') && form.controls[_types].touched" class="text-red-500">
      {{ errorMsg }}
    </p>
  </div>
  <div *ngIf="_types === 'email'" class="w-full mb-3">
    <label for="{{ _types }}"
      ><p class="text-base text-gray-900">{{ title }}</p></label
    >
    <input
      id="{{ _types }}"
      name="{{ _types }}"
      type="email"
      [required]="required"
      class="mt-1 bg-grey-200 rounded-md border-none w-full"
      [placeholder]="placeholder"
      formControlName="{{ _types }}"
    />
  </div>
  <button type="submit" class="w-full h-12 bg-navy-200 rounded-md text-white font-bold">{{ submitText }}</button>
  <p class="mt-2 text-grey-480 text-xs">{{ confirmation }}</p>
</form>
