<div class="modal-body">
  <div class="modal-title text--second col-12 inline-flex">
    <h3 class="flex-1">正在下訂單...</h3>
    <div class="spinner-border text--second" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
  <div class="block-card">
    <div class="card-content flex-1">
      <div class="block-card-content">
        <p class="text--black col-12" i18n>{{ gms.currentWholeAddress }}</p>
      </div>
      <div class="block-card-content">
        <p class="text--gray-light text--wrap col-12" i18n>
          <small> 放在門口 </small>
          <small> 到了請打給我 </small>
        </p>
      </div>
    </div>
    <div class="card-content flex-1">
      <div class="block-card-content flex">
        <p class="text--second col-4" i18n>外送時間</p>
        <p class="text--black col-8 text-right" i18n>{{ cart.storeInfo.order_prepare_time | deliveryTime }} 分鐘</p>
      </div>
    </div>
    <div class="card-content">
      <div class="block-card-content container" *ngFor="let item of cart.itemList">
        <div class="block-product block-product-list row">
          <div class="flex-0 col col-2">
            <span class="badge bg-dark">{{ item.count }}</span>
          </div>
          <div class="flex-1 col col-7">{{ item.product.product_name }}</div>
        </div>
        <ng-container *ngIf="item.plus_item.length > 0">
          <div class="block-product block-product-plus row" *ngFor="let tmp of item.plus_item">
            <div class="flex-0 col col-2"></div>
            <div class="flex-1 text--gray-light col-7">{{ tmp.product.product_name }}</div>
            <div class="flex-0 col-3"></div>
          </div>
        </ng-container>

        <div class="block-product block-product-plus row">
          <div class="flex-0 col col-2"></div>
          <div class="flex-1 text--primary col-7">{{ item.remark }}</div>
          <div class="flex-0 col-3"></div>
        </div>
      </div>
    </div>
    <div class="card-content">
      <button class="btn btn-submit" type="button" (click)="handleCancel()" i18n>取消訂單</button>
    </div>
  </div>
</div>
