@import '/src/styles/variable';
.text--second {
  color: $second-color;
}
.text--primary {
  color: $primary-color;
}

.spinner-border {
  width: 30px;
}

.container-coupon {
  flex-direction: column;
}

.input-text {
  border: none;
}

.card-content {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px $color-gray-high-light;
}

.block-content,
.block-tab {
  width: 100%;
  padding: 0 12rem 0rem 12rem;
  @media (max-width: 1200px) {
    padding: 0 8rem 0rem 8rem;
  }
  @media (max-width: 991.98px) {
    padding: 0 4rem 0rem 4rem;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  > div {
    width: 100%;
  }
}

.col {
  & > * {
    width: 100%;
  }
}
.block-tab {
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}
.container {
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.block-content {
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.block-title {
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  & .flex {
    width: 100%;
    justify-content: space-between;
  }
  & .text--black {
    font-size: 2em;
  }
  & .text--primary {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}
.text-title--second {
  font-size: 1.4rem;
  font-weight: 400;
}

.btn-outline-gold {
  border-radius: 2rem;
}

#navbar-menu {
  width: 100%;
  padding-right: 2rem;
  overflow-x: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}

.nav-item {
  cursor: pointer;

  & > p {
    color: $color-blue-deep-dark;
  }
  &.is-active {
    cursor: default;
    border-radius: 2rem;
    background-color: $color-blue-deep-dark;
    & > p {
      color: $color-white;
    }
  }
}
.nav-link {
  margin-bottom: 0;
  padding: 0.25rem 1rem;
}

.text--second {
  color: $second-color;
}

.text--black {
  color: $color-black;
}

.block-card {
  width: 100%;
  background-color: $color-white;
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: column;
  margin-bottom: 2px;
  margin-top: 2px;
  al & > div {
    width: 100%;
  }
  &.block--has-next {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    & .flex-0 {
      width: 1rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
  }
  & p {
    margin-bottom: 5px;
    &.text--black {
      margin-bottom: 0;
    }
    &.text--wrap {
      display: flex;
      flex-direction: column;
      & small {
        width: 100%;
        margin: 1.5px 0;
      }
    }
  }
}

.flex-1 {
  flex-grow: 1;
}
.flex-0 {
  flex-grow: 0;
}
.text--gray-light {
  color: $color-gray;
  font-weight: 100;
}

.text--primary {
  color: $primary-color;
}

.text-svg-inline {
  height: 30px;
  margin-top: 5px;
}

.ml-1 {
  margin-bottom: 5px;
  width: 20px;

  margin-right: 10px;
}

.svg-icon-plus {
  height: 30px;
  line-height: 27px;
}

.col {
  margin-top: 4px;
  margin-bottom: 4px;
  & > span.badge {
    border-radius: 0px;
    color: $color-white;
    height: 24px;
    line-height: 17px;
    width: 24px;
  }
  & .text-right {
    text-align: right;
  }
}

.col .block-card-content {
  & > .inline-flex {
    width: 100%;
  }
}

.block-product-plus {
  & > * {
    font-size: 0.9rem;
  }
}

.container--footer {
  border-bottom: 1px solid $color-gray-high-light;
}

.btn-submit {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
  background-color: $primary-color;
  border: none;
  color: $color-white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover,
  &:active {
    background-color: $primary-color;
    opacity: 0.7;
  }
}

.list-group-item {
  border: none;
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 0.9rem;
}

.input-text {
  width: 100%;
}

.block-btn {
  margin-bottom: 1rem;
  &.row {
    margin-left: auto;
    margin-right: auto;
    & > button {
      display: inline-flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
