<div class="container-store" *ngIf="store.currentItemSub$ | async as currentStore">
  <ng-container *ngIf="currentStore.store_id !== ''; else loadingTemplate">
    <div class="banner" [ngClass]="{ 'is-close': !store.isOpen }">
      <img
        lazyLoad
        class="img-block"
        src="{{ store.currentItem.store_pic }}"
        alt="{{ store.currentItem.store_name }}"
        appImageFallback
        default="./assets/images/NoPicture_s.png"
        (isComplete)="(handleImgComplete)"
      />
    </div>
    <div class="block-content block-store--info flex">
      <h2>
        {{ currentStore.store_name }}
      </h2>
      <p class="text-gray">
        {{ currentStore.store_desc }}
      </p>
      <div class="block-info-tag inline-flex">
        <span class="tags">
          <svg-icon class="mr-1" key="time" color="#09031D" fontSize="12px"></svg-icon>
          {{ currentStore.order_prepare_time | deliveryTime }}
          <span i18n>分鐘</span>
        </span>
        <span class="tags">
          <svg-icon class="mr-1" key="locate" color="#09031D" fontSize="12px"></svg-icon>
          {{ currentStore.distance | deliveryLocate }}
          <span i18n>公里</span>
        </span>
      </div>
      <div class="block-info-address flex">
        <div class="info-address" i18n>
          商家地址：
          <a [href]="'https://www.google.com.tw/maps/place/' + currentStore.addr_full">{{ currentStore.addr_full }}</a>
        </div>
        <div class="info-opening-time" i18n>
          營業時間：
          {{ currentStore.week | deliveryOpeningTime }}
        </div>
      </div>
      <div class="block-info-promo" *ngIf="currentStore.promotion_mode > 0">
        <app-promotion [title]="''" [content]="''"></app-promotion>
      </div>
    </div>
    <ng-container *ngIf="product.brandListSub$ | async as itemList">
      <div class="block-content block-menu" *ngIf="itemList.length > 0">
        <app-menu [itemList]="itemList" (cardClickEvent)="handleLocationChange($event)"></app-menu>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loadingTemplate></ng-template>
</div>
