@import '/src/styles/variable';

.banner {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 250px;
  max-height: 250px;
  background-color: $color-gray-light;
  &.is-close {
    &::after {
      content: '目前未營業';
      color: $color-white;
      backdrop-filter: blur(3px);
      font-size: 1.25rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 100vw;
      background-color: #2a2a2a73;
    }
  }
}
.img-block {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}

.block-content {
  padding: 1rem 12rem;
  @media (max-width: 1200px) {
    padding: 1rem 8rem;
  }
  @media (max-width: 991.98px) {
    padding: 1rem 4rem;
  }
  @media (max-width: 768px) {
    padding: 1rem;
  }
  &.block-menu {
    background-color: $color-white;
    padding-top: 0;
  }
  > div {
    margin: 8px 0;
  }
}

.block-menu {
  // @media (max-width: 1200px) {
  //   padding-top: 0;
  // }
  // @media (max-width: 991.98px) {
  //   padding-top: 0;
  // }
  // @media (max-width: 768px) {
  //   padding-top: 0;
  // }
}

.block-store--info {
  flex-direction: column;
  & > * {
    width: 100%;
  }
}

.text-gray {
  color: $color-gray;
  font-size: 1rem;
  margin: 8px 0;
}

.tags {
  background-color: $color-gray-light;
  color: #09031d;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
  height: 30px;
  display: flex;
}

.block-info-address {
  flex-direction: row;
  color: $color-gray-dark;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.info-address {
  padding-right: 24px;
  @media (max-width: 768px) {
    padding-right: 0;
    width: 100%;
    margin-bottom: 16px;
    overflow-x: auto;
  }
}
