<div class="container-order flex">
  <div
    class="block-content block-header flex row row-cols-2 row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
  >
    <div class="col pd-top-2 bk-white">
      <div class="inline-flex block-title line-40">
        <div class="flex-1">
          <p class="text-title--second" i18n>預估取餐時間</p>
        </div>
        <div class="flex-0"><svg-icon class="ml-1" key="phone" color="#878B8E" fontSize="14px"></svg-icon>聯繫餐廳</div>
      </div>
      <div class="inline-flex">
        <div class="flex-1 block-time">
          <p class="text-time" *ngIf="currentOrder.shipment_way === '1'">
            {{ getTimeInfo(currentOrder.expected_get_at) }}
          </p>
          <p class="text-time" *ngIf="currentOrder.shipment_way === '0'">
            {{ getTimeInfo(currentOrder.expected_get_at) }}
          </p>
        </div>
        <div class="flex-0">
          <button class="btn btn-outline-warning btn-outline-gold btn-count" type="button">取消訂單</button>
        </div>
      </div>
      <div class="block-progress inline-flex">
        <div class="progress" style="height: 4px; width: 24%; margin-right: 1%">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress" style="height: 4px; width: 24%; margin-right: 1%">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress" style="height: 4px; width: 24%; margin-right: 1%">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress" style="height: 4px; width: 24%; margin-right: 1%">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div class="inline-flex">
        <p class="text--second"><small>餐點確認中</small></p>
      </div>
      <div class="inline-flex">
        <p class="text--second"><small>等待餐廳夥伴確認餐點</small></p>
      </div>
      <div class="inline-flex">
        <p class="text--gray-light"><small>最遲抵達時間：下午10:10</small></p>
      </div>
      <div class="img-block">
        <img src="./assets/svg/order.svg" />
      </div>
    </div>
    <div class="block-info col mgt-3">
      <div class="block-card">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <p class="text--second" i18n>取貨編號：{{ currentOrder.pickup_no }}</p>
          </div>
          <div class="block-card-content">
            <p class="text--black text-orderid" i18n>訂單編號：{{ currentOrder.order_no }}</p>
          </div>
        </div>
      </div>
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>地址資訊</p>
        </div>
      </div>
      <div class="block-card block--has-next">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <p class="text--second"><small i18n>住家</small></p>
          </div>
          <div class="block-card-content">
            <p class="text--black" i18n>{{ currentOrder.origin_address }}</p>
          </div>
          <div class="block-card-content">
            <p class="text--gray-light text--wrap" i18n>
              <small> 放在門口 </small>
              <small> 到了請打給我 </small>
            </p>
          </div>
        </div>
      </div>
      <div class="inline-flex block-title">
        <div class="flex">
          <p class="text-title--second" i18n>餐點與費用</p>
        </div>
      </div>
      <div class="block-card">
        <div class="card-content">
          <div class="block-card-content container" *ngFor="let item of currentOrder.item_list">
            <ng-container *ngIf="item.plus_item_id === ''">
              <div class="block-product block-product-list row">
                <div class="flex-0 col col-2">
                  <span class="badge bg-dark">{{ item.count }}</span>
                </div>
                <div class="flex-1 col col-7">{{ item.product_name }}</div>
                <div class="flex-0 col text--primary col-3 text-right">$ {{ item.price }}</div>
              </div>
              <ng-container *ngIf="item.plus_item && item.plus_item.length > 0">
                <div class="block-product block-product-plus row" *ngFor="let plus of item.plus_item">
                  <div class="flex-0 col col-2"></div>
                  <div class="flex-1 text--gray-light col-7">{{ plus.product_name }}</div>
                  <div class="flex-0 col-3"></div>
                </div>
              </ng-container>
            </ng-container>

            <div class="block-product block-product-plus row">
              <div class="flex-0 col col-2"></div>
              <div class="flex-1 text--primary col-7">{{ currentOrder.remark }}</div>
              <div class="flex-0 col-3"></div>
            </div>
          </div>
          <div class="block-card-content container">
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">小計</div>
              <div class="flex-0 col text--primary col-3 text-right">
                $ {{ currentOrder.sub_total_price.toString() }}
              </div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">外送費</div>
              <div class="flex-0 col text--primary col-3 text-right">$ {{ currentOrder.paid_shipping.toString() }}</div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">折扣</div>
              <div class="flex-0 col text--red col-3 text-right">$ {{ currentOrder.discount_amount.toString() }}</div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">總費</div>
              <div class="flex-0 col text--primary col-3 text-right">
                $ {{ currentOrder.payment_amount.toString() }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-card">提供餐具用品</div>
      <div class="inline-flex block-title">
        <div class="flex">
          <p class="text-title--second" i18n>付款方式</p>
        </div>
      </div>
      <div class="inline-flex block-title">
        <div class="flex">
          <p class="text-title--second" i18n>統一編號</p>
        </div>
      </div>
      <div class="block-card">{{ currentOrder.vat }}</div>
      <div class="inline-flex block-title">
        <div class="flex">
          <p class="text-title--second" i18n>訂單備註(選填)</p>
        </div>
      </div>
      <div class="block-card">{{ currentOrder.remark }}</div>
    </div>
  </div>
</div>
