<div class="flex justify-between items-center text-grey-450 opacity-50">
  <div>
    <div class="flex items-center" *ngIf="leftText" [ngClass]="{ 'cursor-pointer': redirectLeft }" (click)="goPage(redirectLeft)">
      <svg-icon *ngIf="redirectLeft" class="inline-flex mr-1.5" key="left" color="#D8D8D8" fontSize="10px"></svg-icon>
      <p class="inline-flex">{{ leftText }}</p>
    </div>
  </div>
  <div>
    <div class="flex items-center" *ngIf="rightText" [ngClass]="{ 'cursor-pointer': redirectRight }" (click)="goPage(redirectRight)">
      <p class="inline-flex">{{ rightText }}</p>
      <svg-icon *ngIf="redirectRight" class="inline-flex ml-1.5" key="right" color="#D8D8D8" fontSize="10px"></svg-icon>
    </div>
  </div>
</div>
