<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Sign up</h1>
      <hr />
      <br />
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            [(ngModel)]="user.email"
            name="email"
            type="email"
            required
            class="form-control"
            id="email"
            placeholder="enter your email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="enter a password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
      </form>
      <p>
        <span>Already have an account?&nbsp;</span>
        <a [routerLink]="['/login']">Log in!</a>
      </p>
    </div>
  </div>
</div>
