::ng-deep > .modal-content {
  min-height: auto;
}

.modal-dialog {

}

.modal-body {
  position: relative;
  padding: 0;
  min-height: auto;
}

.modal-message {
  font-weight: 500;
}

.modal-footer {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.modal-close-button {
  position: absolute;
  top: -10px;
  right: 0;

  ::ng-deep > svg > path {
    fill: #878B8E;
  }
}

.cancel-button {
  border: 1px solid #C9A063;
  color: #C9A063;
}

.confirm-button {
  background: #C9A063;
  color: #fff;
}