<div class="modal-body">
  <span class="modal-message">{{ content }}</span>
  <svg-icon
    class="modal-close-button cursor-pointer"
    key="close"
    fontSize="12px"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></svg-icon>
</div>
<div class="modal-footer flex justify-center items-center">
  <button
    *ngIf="!isConfirmMode"
    type="button"
    class="w-full h-12 rounded-md font-bold cancel-button"
    (click)="activeModal.dismiss()"
  >
    取消
  </button>
  <button type="button" class="w-full h-12 rounded-md text-white font-bold confirm-button">
    {{ confirmButtonText }}
  </button>
</div>
