<div class="conatiner-search-bar">
  <div class="block-content">
    <ng-content #inputIcon></ng-content>
    <input
      class="input-text txt-white txt-search"
      type="text"
      [placeholder]="placeholder"
      (input)="handleInputSearch($event)"
      (keypress.enter)="handleSubmitEvent()"
    />
  </div>
  <div class="block-content block-searchbar"></div>
</div>
