@import '/src/styles/variable';
.txt-search {
  color: $color-white;
  background-color: $color-blue-deep-dark;
  width: 100%;
  max-width: 450px;
  border: none;
  padding: 8px 36px;
  border-radius: 0.5rem;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.block-search-bar {
  background-color: $color-blue-dark;
  width: 410px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
