@import '/src/styles/variable';
.container-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 1px 20px rgba(134, 134, 134, 0.1);
  min-width: 240px;
  margin: 0.75rem 0.5rem;
  width: calc(100% - 1rem);
}
.promo-content {
  position: relative;
  height: 150px;
  & .img-promo,
  & .img-block {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    min-height: 140px;
    min-width: 240px;
    max-height: 100%;
    display: block;
    margin: auto;
    // @media (min-width: 1024px) {
    //   height: 8rem;
    // }
    &.img-block--hide {
      display: none;
    }
    &.img--nonimgage {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-gray-dark;
    }
  }
}

#promo:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: transparent #eec04a;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

#promo {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0% 100%);
  position: absolute;
  left: 0;
  top: 1.25rem;
  z-index: 10;
  padding-left: 0.625rem;
  padding-right: 1.25rem;
  color: #ffffff;
  width: auto;
  height: 2rem;
  line-height: 2rem;
  background-color: $color-bg--promo;
  font-weight: normal;
}
.block-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: $color-white;
}
p {
  margin-bottom: 0;
  &.leading-relaxed {
    line-height: 1.625;
    color: $color-black-light;
  }
  & .card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $color-gray-dark;
  }
}

.card-info--locate {
  display: inline-flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  color: $color-gray-dark;
  @media (min-width: 768px) {
    margin-left: 0;
  }
  @media (min-width: 1024px) {
  }
}

.card-info--time {
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  color: $color-gray-dark;
}
