<div *ngIf="card; else cardSkeleton" class="container-card h-full rounded-ten shadow-card" (click)="handleCardClick()">
  <div class="promo-content">
    <div *ngIf="card.promo" id="promo">
      <div>{{ card.promo }}</div>
    </div>
    <img
      lazyLoad
      [ngClass]="{ 'cursor-pointer': card.redirectTo }"
      class="img-promo img-block"
      src="{{ card.img }}"
      alt="{{ card.title }}"
      appImageFallback
      default="./assets/images/NoPicture_s.png"
      (isComplete)="(handleImgComplete)"
    />
    <!-- <div [ngClass]="{ 'img-block--hide': !isImgComplete }" class="img-block img--nonimgage"></div> -->
    <ngx-skeleton-loader
      [ngClass]="{ 'img-block--hide': !isImgComplete }"
      class="img-block"
      animation="progress"
    ></ngx-skeleton-loader>
  </div>

  <div class="block-content">
    <p class="leading-relaxed text-grey-600">{{ card.title }}</p>
    <div class="card-info">
      <span class="card-info--locate">
        <svg-icon class="mr-1" key="locate" color="#4F4F4F" fontSize="14px"></svg-icon>
        <span>{{ card.locate | deliveryLocate }}</span>
        <span i18n>公里</span>
      </span>
      <span class="card-info--time">
        <svg-icon class="mr-1" key="time" color="#4F4F4F" fontSize="14px"></svg-icon>
        <span>{{ card.time | deliveryTime }}</span>
        <span i18n>分鐘</span>
      </span>
    </div>
  </div>
</div>
<ng-template #cardSkeleton>
  <ngx-skeleton-loader
    appearance="circle"
    [theme]="{
      overflow: 'hidden',
      'border-radius': '10px',
      'box-shadow': '0px 1px 20px rgb(134 134 134 / 10%)',
      'min-width': '240px',
      width: 'calc(100% - 1rem)',
      height: '210px',
      margin: '0.75rem 0.5rem'
    }"
  ></ngx-skeleton-loader>
</ng-template>
