.modal-header {
  background: #002e4b;
  color: #fff;
  min-height: 82px;
  display: flex;
  align-items: center;
  padding: 0 30px;

  & > svg-icon > svg {
    width: 12px;
  }

  & > svg-icon > svg > path {
    fill: #fff;
  }
}

.modal-body {
  min-height: calc(100vh - 207px);
  padding: 32px 40px;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    min-height: 320px;
  }
}

.modal-content {
  min-height: 500px;
  border: none;
  overflow: hidden;
  @media (min-width: map-get($grid-breakpoints, sm)) {
    border-radius: 10px;
  }
}

.modal-footer {
  border-top: none;
  padding: 40px;

  & > button {
    margin: 0;
    max-height: 45px;
  }
}

// Bs-carousel
ngb-carousel {
  width: 100%;
  margin: 0 auto;
  img {
    width: 100%;
    outline: none;
  }
}
.carousel-indicators {
  justify-content: flex-end;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  &.carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  z-index: 20;
}
