@import './variable';

// Merge
// NOTE: Generate from $spacing-array

// @each $direction-s, $direction_name in $direction-array {
//   @each $spacing_key, $spacing_num in $spacing-array {
//     .m#{$direction-s}-#{$spacing_key} {
//       margin-#{$direction_name}: $spacing_num;
//     }
//   }
// }

//
// Padding
// NOTE: Generate from $spacing-array
//
// @each $direction-s, $direction_name in $direction-array {
//   @each $spacing_key, $spacing_num in $spacing-array {
//     .p#{$direction-s}-#{$spacing_key} {
//       padding-#{$direction_name}: $spacing_num;
//     }
//   }
// }

// flex
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
  &.items-center {
    align-items: center;
  }
}

.flex-1 {
  flex: 1;
}

.inline-block {
  display: inline-block;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.text-title--second {
  color: $second-color;
  margin-bottom: 0;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
}

.btn {
  &.btn-outline-gold {
    color: $primary-color;
    border-color: $primary-color;
    margin-left: 1rem;
    margin-right: 1rem;
    &:hover,
    &:active {
      color: $primary-color;
      border-color: $primary-color;
      opacity: 0.7;
      background-color: initial;
    }
    &:disabled {
      color: $color-gray-light;
      border-color: $color-gray-light;
    }
  }
}

.modal-backdrop-customer {
  z-index: 100 !important;
}

.visually-hidden {
  display: none !important;
}

.carousel-caption {
  top: 20px !important;
  left: 5% !important;
  text-align: left !important;
  & p {
    margin-top: 10% !important;
  }
}

.carousel-indicators {
  justify-content: flex-end !important;
  & .active {
    background-color: $primary-color !important;
  }
}

.pac-container {
  z-index: 1056 !important;
  margin-top: 6px !important;
  border-radius: 10px !important;
  background-color: $color-blue-deep-dark !important;
  border-top: none !important;
  padding-top: 10px !important;
  & > .pac-item {
    border-top: none !important;
    color: $color-white !important;
    padding: 4px 4px 4px 4px !important;
    display: grid !important;
    grid-template-columns: 36px 1fr !important;
    font-weight: lighter !important;
    &:hover,
    &:active,
    &:any-link {
      background-color: $color-blue-dark !important;
    }

    & span {
      font-size: 0.5rem !important;
      color: $color-gray-high-light !important;
    }
    & > .pac-icon {
      grid-column-start: 1 !important;
      grid-row-start: 1 !important;
      grid-row-end: 4 !important;
      background-image: url('./../assets/svg/address.svg') !important;
      background-size: 14px 16px !important;
      background-repeat: round !important;
      background-position-x: 0 !important;
      margin-top: 8px !important;
      margin-left: 10px !important;
    }
    & > .pac-item-query,
    & > .pac-item-query > * {
      color: $color-white !important;
      font-size: 1rem !important;
      font-weight: 300 !important;
    }
    & .pac-matched {
      font-weight: 300 !important;
    }
  }
}
