html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: 100%;
  font-family: Noto Sans TC;
  vertical-align: baseline;
  letter-spacing: 1px;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  quotes: '' '';
}

/**
 * Link
 */

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */

  &,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

/**
 * Form
 */

/*
 * Clear `clear` button on input with 'password' type in IE
 * https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-clear
 * https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-reveal
 */

input {
  font-family: inherit;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

/**
 * Reset button
 */

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  background: transparent;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

/* Turn off textarea resize in Chrome */

textarea {
  font-family: inherit;
  resize: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

.block-shadow {
  background: #c4c4c4;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

// BlockInitAnimateDirective
.block-init-animate-directive * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

input:focus,
select:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

body {
  overflow-y: auto;
}
