// Swiper
#swiper-hot {
  .swiper-slide {
    width: 20%;
  }
}

#swiper-promo {
  .swiper-slide {
    width: 85%;
  }
}

#swiper-brand {
  .swiper-slide {
    height: calc((100% - 24px) / 2);
  }
}

#swiper-discount {
  .swiper-slide {
    width: 80%;
  }
}

#swiper-prime {
  .swiper-slide {
    width: 80%;
  }
}
