$view-width: 90%;

//
// Text Font Size
//

$font-size-4x: 24px;
$font-size-3x: 22px;
$font-size-2x: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

//
// Common Color
//

$common-white: #ffffff;
$common-sliver: #c0c0c0;
$common-gray: #808080;
$common-black: #000000;
$common-red: #ff0000;
$common-maroon: #800000;
$common-yellow: #ffff00;
$common-olive: #808000;
$common-lime: #00ff00;
$common-green: #008000;
$common-aqua: #00ffff;
$common-teal: #008080;
$common-blue: #0000ff;
$common-navy: #000080;
$common-fuchsia: #ff00ff;
$common-purple: #800080;

//
// Add Global Custom Theme Variables
//

$jk-font-family: 'Noto Sans', 'system', '-apple-system', 'PingFang-TC', 'Segoe UI', 'Microsoft JhengHei', 'Roboto',
  'Oxygen', 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

$jk-colors: (
  deep-dark-blue: #001f32,
  dark-blue: #002e4b,
  gradient-brown: linear-gradient(99.53deg, #c9a063 65.34%, #debf71 76.97%, #c9a063 103.12%),
  primary-brown: #c9a063,
  dark-brown: #bd9a5f,
  primary-gray: #9d99ab,
  decent-white: #f8f9fa,
  primary-white: #ffffff,
  light-gray: #f0f0f0,
);

$top-menu-bg-color: map-get($jk-colors, dark-blue);
$top-menu-logo-color: map-get($jk-colors, primary-brown);
$top-menu-nav-color: map-get($jk-colors, primary-brown);
$top-menu-bar-color: map-get($jk-colors, gradient-brown);
$top-tab-color: map-get($jk-colors, primary-brown);
$left-bg-color: map-get($jk-colors, decent-white);
$right-bg-color: map-get($jk-colors, primary-white);
$right-block-label-color: map-get($jk-colors, primary-brown);
$right-block-bg-label-color: map-get($jk-colors, light-gray);
$right-read-more-button-color: map-get($jk-colors, dark-brown);
$bottom-footer-bg-color: map-get($jk-colors, deep-dark-blue);
$bottom-footer-txt-color: map-get($jk-colors, primary-white);

$mobile-menu-bg-color: map-get($jk-colors, dark-blue);
$mobile-menu-nav-active-color: map-get($jk-colors, primary-brown);
$mobile-menu-nav-inactive-color: map-get($jk-colors, primary-gray);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1536px,
);

//
// Shared alignment here
//

$header-height-desktop: 78px;
$header-height-mobile: 124px;
$header-footer-padding: 5px 4%;
$footer-height-desktop: 225px;

$color-gold: #c9a063;
$color-blue: #002e4b;
$color-blue-dark: #002e4b;
$color-blue-deep-dark: #001f32;
$color-blue-light: #277fb7;
$color-red: #f76262;
$color-gray: #acabac;
$color-gray-dark: #878b8e;
$color-gray-deep-dark: #4f4f4f;
$color-gray-light: #cbcbcb;
$color-gray-high-light: #f1f3f5;
$color-white: #ffffff;
$color-white-dark: #fafafa;
$color-white-dark-deep: #f0f0f0;
$color-black: #09031d;
$color-black-light: #333333;
$color-black-high-light: #4f4f4f;
$color-green: #00614b;
$color-bg--promo: #c86833;

$primary-color: $color-gold;
$second-color: $color-blue;
$error-color: $color-red;
$bg-color: $color-white-dark;
$font-color: $color-black;
$font-second-color: $color-black-high-light;

//
// space map
//
$spacing-array: (
  0: 0px,
  0.5: 0.125rem,
  1: 0.25rem,
  1.5: 0.375rem,
  2: 0.5rem,
  2.5: 0.625rem,
  3: 0.75rem,
  3.5: 0.875rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem,
  44: 11rem,
  48: 12rem,
  52: 13rem,
  56: 14rem,
  60: 15rem,
  64: 16rem,
  72: 18rem,
  80: 20rem,
  96: 24rem,
);

//
// direction shorthand map
//
$direction-array: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);

$main-min-height: calc(100vh - map-get($spacing-array, 16));

:root {
  $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
  );
}
