<ng-container *ngIf="types === 'hot'">
  <p *ngIf="title" class="my-4 text-gold-200 font-semibold text-2xl w-full">{{ title }}</p>
  <div class="grid grid-cols-4 gap-4">
    <div
      [ngClass]="{ 'cursor-pointer': i.redirectTo }"
      class="grid justify-items-center"
      *ngFor="let i of svgItems"
    >
      <app-item [svgItem]="i" (itemEvent)="selectItem($event)"></app-item>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="types === 'brand'">
  <p *ngIf="title" class="my-4 text-gold-200 font-semibold text-2xl w-full">{{ title }}</p>
  <div class="grid grid-cols-4 gap-4">
    <div
      [ngClass]="{ 'cursor-pointer': i.redirectTo }"
      class="grid justify-items-center"
      *ngFor="let i of imgItems"
    >
      <app-item [imgItem]="i" (itemEvent)="selectItem($event)"></app-item>
    </div>
  </div>
</ng-container>
