<div class="bg-navy-200 w-full h-screen">
  <div class="p-3">
    <app-header-text [rightText]="'暫時略過'" [redirectRight]="'/'"></app-header-text>
  </div>
  <div class="relative px-4 z-30">
    <h1 id="golden-gradient" class="text-2xl leading-9 font-bold">
      歡迎使用 <br />
      It"s Good To Eat <br />
      美食直達外送平台
    </h1>
  </div>
  <!-- temporarily hide until we need email login -->
  <div hidden>
    <h1>Log in</h1>
    <hr />
    <br />
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="enter your email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          class="form-control"
          id="password"
          placeholder="enter a password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
    </form>
    <p>
      <span>Don't have an account?&nbsp;</span>
      <a [routerLink]="['/signup']">Sign up!</a>
    </p>
  </div>
</div>
