#golden-gradient {
  background: linear-gradient(81.72deg, #c9a063 30.13%, #debf71 47.75%, #c9a063 71.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
