@import '/src/styles/_variable';
@import '/src/styles/_bootstrap';

.modal-control {
  display: flex;
  width: 100%;
  margin-bottom: 16px;

  ::ng-deep > svg-icon > svg {
    width: 12px;
  }

  ::ng-deep > svg-icon > svg > path {
    fill: #fff;
  }
}

.modal-header {
  flex-direction: column;
  min-height: auto;
  padding: 35px 38px;
}

.setting-mode-header {
  margin-bottom: 0;
}

.modal-body {
  min-height: calc(100vh - 146px);
  padding: 0;

  &--setting-mode {
    min-height: calc(100vh - 205px);
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    min-height: 354px;
  }
}

.modal-footer {
  display: grid;
  gap: 0 10px;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
}

.cancel-button {
  border: 1px solid #c9a063;
  color: #c9a063;
}

.modal-address {
  padding: 32px 40px 24px 40px;
  border-bottom: 1px solid #e5e4ed;

  ::ng-deep > input {
    background: #fafafa;
    border-radius: 10px;
  }

  ::ng-deep > input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #acabac;
    opacity: 0.8; /* Firefox */
  }

  ::ng-deep > input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #acabac;
  }

  ::ng-deep > input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #acabac;
  }
}

.sub-title {
  color: #002e4b;
  padding-bottom: 5px;
}

.sub-title-options {
  color: #002e4b;
  padding-bottom: 15px;
}

.modal-options {
  padding: 24px 42px;
  border-bottom: 1px solid #e5e4ed;

  &__button {
    padding: 10px;
    color: #09031d;
    background: #f1f3f5;
    border-radius: 41px;
    margin-right: 10px;
  }

  &__clicked {
    color: white;
    background: #002e4b;
  }
}

.modal-note {
  padding: 24px 42px;

  &__textarea {
    background: #fafafa;
    border-radius: 10px;
    height: 82px;
    width: 100%;
    border: none;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #acabac;
      opacity: 0.8; /* Firefox */
    }
  }
}

#back {
  cursor: pointer;

  ::ng-deep > svg {
    width: 24px;
    margin-right: 0;
  }
}

// .btn-adress {
//   color: black;
//   background-color: '#F1F3F5';
//   &.is-handover {
//     color: white;
//     background-color: '#002E4B';
//   }
// }
input[type='text'] {
  border: none;
  width: 100%;
  padding: 10px 15px;
  max-height: 45px;
  height: 45px;
  background-color: $color-gray-high-light;
  border-radius: 10px;
}

.text--gray {
  color: $color-gray;
}
.block-inline-flex {
  margin-bottom: 1rem;
}
