@import '/src/styles/variable';

.block-content {
  width: 100%;
  padding: 1rem 12rem 0rem 12rem;
  @media (max-width: 1200px) {
    padding: 1rem 8rem 0rem 8rem;
  }
  @media (max-width: 991.98px) {
    padding: 1rem 4rem 0rem 4rem;
  }
  @media (max-width: 768px) {
    padding: 1rem 1rem 0rem 1rem;
  }
  &.block-header {
    background-color: $color-white;
    padding-top: 2rem;
    flex-direction: column;
  }
  > div {
    width: 100%;
  }
}

.block-title {
  justify-content: space-between;
}

.btn-outline-gold {
  border-radius: 2rem;
}

#navbar-menu {
  width: 100%;
  padding-right: 2rem;
  background-color: $color-white;
  z-index: 7;
  overflow-x: auto;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}

.nav-item {
  padding-top: 1rem;
  cursor: pointer;
  & > p {
    color: $color-gray-deep-dark;
  }
  &.is-active {
    cursor: default;
    border-bottom: solid 4px $primary-color;
    & > p {
      color: $primary-color;
    }
  }
}
.nav-link {
  margin-bottom: 0;
}
