<div class="container-coupon">
  <div class="block-content block-header flex">
    <div class="inline-flex block-title">
      <div class=""><p class="text-title--second">優惠</p></div>
      <div><button type="button" class="btn btn-outline-warning btn-outline-gold">新增優惠券</button></div>
    </div>

    <div class="block-tab">
      <ul ngbNav id="navbar-menu" class="nav d-inline-flex flex-nowrap">
        <li class="nav-item" [class]="{ 'is-active': currentFilter === 'valid' }" (click)="handleFilterChange('valid')">
          <p class="nav-link w-auto text-nowrap text-start" i18n>進行中</p>
        </li>
        <li
          class="nav-item"
          [class]="{ 'is-active': currentFilter === 'invalid' }"
          (click)="handleFilterChange('invalid')"
        >
          <p class="nav-link w-auto text-nowrap text-start" i18n>已過期</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="block-content"></div>
</div>
