<div class="container-product" *ngIf="product">
  <ng-scrollbar #scrollbarProductRef thumbClass="white-scrollbars">
    <div class="flex-img">
      <img [src]="product.product_pic" class="img-fluid" [alt]="product.product_name" />
    </div>

    <div class="modal-body flex">
      <div class="modal-title flex flex-column">
        <div class="block-title">
          {{ product.product_name }}
        </div>
        <div class="block-desc">
          <p class="text-gray-light">
            <small>{{ product.product_desc }}</small>
          </p>
        </div>
      </div>
      <ng-container *ngIf="product.options.length > 0">
        <ng-container *ngFor="let option of product.options">
          <div class="block-extra-title">
            <p i18n>{{ option.option_name }}</p>
          </div>
          <div class="block-extra-content is-radiolist" *ngIf="!option.isMultipleSelect; else multiSelectBlock">
            <div class="block-extra-row inline-flex" *ngFor="let item of option.option_items; index as i">
              <label class="list-group-item" (click)="radioClickEvent($event, i)">
                <input
                  class="form-check-input me-1"
                  (click)="radioClickEvent($event, i)"
                  type="radio"
                  [checked]="radioSelect === i.toString()"
                />
                {{ item.product_name }}
              </label>
              <p>{{ item.special_price | productOptionPrice }}</p>
            </div>
          </div>
          <ng-template #multiSelectBlock>
            <div class="block-extra-content is-checklist">
              <div class="block-extra-row inline-flex" *ngFor="let item of option.option_items; index as i">
                <label class="list-group-item" (click)="checkBoxClickEvent($event, i)">
                  <input
                    class="form-check-input me-1"
                    type="checkbox"
                    (click)="checkBoxClickEvent($event, i)"
                    [checked]="checkSelect.indexOf(i) > -1"
                  />
                  {{ item.product_name }}
                </label>
                <p>{{ item.special_price | productOptionPrice }}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>

      <div class="block-extra-title">
        <p i18n>備註</p>
      </div>
      <div class="block-extra-content">
        <textarea
          name="remark"
          class="form-control text-remark"
          rows="3"
          placeholder="給餐廳人員的指示"
          (input)="handleRemarkChange($event)"
          [value]="remark"
        ></textarea>
      </div>
      <div class="block-count">
        <button
          class="btn btn-outline-warning btn-outline-gold btn-count"
          type="button"
          [disabled]="count === 1"
          (click)="handleAddCount(-1)"
        >
          -
        </button>
        <span class="text-count">{{ count }}</span>
        <button
          class="btn btn-outline-warning btn-outline-gold btn-count"
          type="button"
          [disabled]="count >= 99"
          (click)="handleAddCount(1)"
        >
          +
        </button>
      </div>
      <div class="block-footer d-grid">
        <button class="btn btn-submit" type="button" (click)="handleAddToCart()" i18n>加入購物車</button>
      </div>
    </div>
  </ng-scrollbar>
</div>
