@import '/src/styles/variable';
.container-product {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  width: 100%;
}
.modal-body {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.text-gray-light {
  color: $color-gray;
}

.flex-img {
  height: 305px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  & > * {
    width: 100%;
    padding: 0 2rem 0.75rem 2rem;
  }
  & > .block-title {
    font-size: 2rem;
    padding: 0;
  }
  & > .block-desc {
    padding: 0;
  }
}

.inline-flex {
  width: 100%;
  justify-content: space-between;
  & > p {
    margin-bottom: 0px;
    padding: 0.75rem 0;
    color: $primary-color;
    font-weight: 500;
  }
}
.list-group-item {
  border: none;
  margin-bottom: 0px;
}
.block-extra-title {
  line-height: 40px;
  height: 40px;
  background-color: $color-white-dark-deep;
  & > p {
    color: $color-blue-dark;
  }
}

// .block-extra-content {
// }
.text-remark {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $color-white-dark;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: $color-gray;
  &::placeholder {
    color: $color-gray-light;
  }
}

.block-count {
  text-align: center;
}

.btn-count {
  border-radius: 2rem;
  width: 35px;
  height: 35px;
  line-height: 18px;
}

.btn-submit {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
  background-color: $primary-color;
  border: none;
  color: $color-white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover,
  &:active {
    background-color: $primary-color;
    opacity: 0.7;
  }
}
