@import '/src/styles/variable';

$font-color: #f9fafb;

div.container-address {
  height: 100%;
  margin-top: 0.125rem;
  margin-left: map-get($spacing-array, 6);
  color: $font-color;
  font-size: 0.875rem;
  line-height: map-get($spacing-array, 5);
  display: flex;
  @media (max-width: 768px) {
    margin-left: 0;
  }
  & > img {
    margin-right: map-get($spacing-array, 2);
  }
  & > div {
    justify-content: center;
    margin-bottom: 0;
    & #dropdown-address {
      color: $font-color;
      padding-left: 0;
      padding-right: map-get($spacing-array, 4);
      margin-right: map-get($spacing-array, 1);
      background-color: transparent;
      font-size: 0.875rem;
      line-height: map-get($spacing-array, 5);
      border-style: none;
      appearance: none;
      & > button.btn-address--bg {
        background-color: $second-color;
        color: $font-color;
      }
    }
    & > input {
      color: $font-color;
      padding: map-get($spacing-array, 2);
      background-color: transparent;
      font-size: 0.875rem;
      line-height: map-get($spacing-array, 5);
      width: 100%;
      border-style: none;
    }
  }
}
