<div class="container-address cursor-pointer" (click)="handleAddressClick($event)">
  <img class="inline-flex" alt="" title="" src="/assets/svg/geo.svg" />
  <div class="items-center justify-center">
    {{ currentTime }}
    {{ '・' }}
    {{ gms.currentAddress }}
    <svg-icon class="ml-1" key="right" color="#FFFFFF" fontSize="14px"></svg-icon>
  </div>
</div>
