@import '/src/styles/variable';

.container-chips {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 56px;
  margin: 9px 7px;
  @media (max-width: 991.98px) {
    margin: 9px 20px;
  }
  & > .img-chips {
    line-height: map-get($spacing-array, 10);
    width: 56px;
    height: 56px;
    border-radius: map-get($spacing-array, 10);
    &.bk-white {
      background-color: $color-white;
    }
  }
  & > .title-chips {
    line-height: map-get($spacing-array, 4);
    color: $color-black-light;
    text-align: center;
    padding-top: 15px;
  }
}
