<div class="container-chips" *ngIf="item || src; else skeletonChip">
  <ng-container *ngIf="item; else tagTmp">
    <img
      lazyLoad
      class="img-chips bk-white"
      [src]="item.brand_pic"
      appImageFallback
      default="./assets/images/NoPicture_s.png"
    /><img />
    <div class="title-chips" *ngIf="hasTitle">
      {{ item.brand_name }}
    </div>
  </ng-container>
  <ng-template #tagTmp>
    <img lazyLoad class="img-chips" [src]="src" appImageFallback default="./assets/images/NoPicture_s.png" /><img />
    <div class="title-chips" *ngIf="hasTitle">
      {{ title }}
    </div>
  </ng-template>
</div>
<ng-template #skeletonChip>
  <ngx-skeleton-loader
    appearance="circle"
    [theme]="{
      width: '56px',
      height: '56px',
      'background-color': '#fafafa',
      'line-height': '2.5rem'
    }"
  ></ngx-skeleton-loader>
</ng-template>
