<div class="container-fluid">
  <ng-container>
    <div class="banner" [class]="{ 'banner--sticky': platForm <= 0 }">
      <app-header class="banner--bg" [platForm]="platForm"></app-header>
      <app-promo-banner *ngIf="isHome"></app-promo-banner>
    </div>
    <div class="content" [ngClass]="{ 'is-nav--active': app.navbarActive$ | async }">
      <ng-container *ngIf="!isNavbarShow">
        <div class="content-navbar" [ngClass]="{ 'is-nav--active': app.navbarActive$ | async }">
          <app-navbar></app-navbar>
        </div>
        <div class="content-main">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
    <app-footer [platform]="platForm" class="footer block-main"></app-footer>
    <div
      (click)="handleNavToggle(false)"
      class="wrapper-mask"
      [ngClass]="{ 'is-active': app.globalMask$ | async }"
    ></div>
  </ng-container>
</div>
<app-modal></app-modal>
