@import '/src/styles/variable';

div.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 225px);
  padding-right: 0px;
  padding-left: 0px;
  overflow-y: hidden;
}

div.block-main {
  width: 85%;
  margin: auto;
}

.banner {
  top: 0;
  z-index: 9;
  &.banner--sticky {
    position: sticky;
  }
  & > .banner--bg {
    display: block;
    background-color: $second-color;
  }
}

.content {
  min-height: $main-min-height;
  background: #fafafa;
  display: flex;
  align-items: stretch;
  overflow: auto;
  &.is-nav--active {
    overflow: hidden;
  }
}

.footer {
  bottom: 0;
  z-index: 9;
}

.wrapper-mask {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s 0.5s;
  z-index: 11;
  &.is-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}

.content-navbar {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s 0.5s;
  z-index: 12;
  &.is-nav--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}

.content-main {
  flex: 1 1 0%;
  width: 100%;
  height: 100%;
  min-height: $main-min-height;
}
