@import '/src/styles/variable';

.container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: $main-min-height;
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  @media (max-width: 991.98px) {
    flex-direction: column;
  }
}
.container-chips {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 365px;
  min-width: 365px;
  padding: 32px 2rem 32px 3rem;
  background-color: $color-gray-high-light;
  overflow-y: hidden;
  @media (max-width: 991.98px) {
    width: 100vw;
    max-height: 140px;
    overflow-x: scroll;
    padding-left: 20px;
  }
  & .block-chips {
    margin-bottom: map-get($spacing-array, 3);
  }
  & .chips-title {
    width: 100%;
    height: fit-content;
    color: $primary-color;
    font-size: map-get($spacing-array, 6);
    @media (max-width: 991.98px) {
      display: none;
    }
  }
  & .chips-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (max-width: 991.98px) {
      flex-wrap: nowrap;
      display: none;
      &.has-title {
        display: flex;
      }
    }
  }
}
.block-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 3rem 32px 2rem;
  background-color: $bg-color;
  min-height: $main-min-height;
  @media (max-width: 991.98px) {
    padding: 32px 1rem;
    overflow-y: hidden;
  }
}

.block-footer {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > button {
    color: #ffffff;
    height: map-get($spacing-array, 10.5);
    width: 8rem;
    background-color: $primary-color;
  }
}

.text--leading-5 {
  height: 40px;
  line-height: 40px;
  margin-top: 1rem;
  padding-left: 10px;
}

.block-carousel {
  height: auto;
  max-width: 100%;
  padding: 1rem;
  @media (max-width: 991.98px) {
    max-height: inherit;
    max-width: 100%;
  }
  & img {
    height: auto;
    border-radius: 10px;
    @media (max-width: 991.98px) {
      max-height: inherit;
    }
  }
}

.visually-hidden {
  display: none;
}
