<div class="container-home">
  <div class="container-chips" *ngIf="popularSub$ | async as popular">
    <div class="block-chips" *ngIf="popular.length > 0; else skeletonChips">
      <div class="chips-title">
        <p class="text--leading-5" i18n>熱門搜尋</p>
      </div>
      <div class="chips-content has-title" *ngIf="tagList.length > 0">
        <app-chips
          *ngFor="let item of tagList; trackBy: trackByFn"
          [src]="item.src"
          [title]="item.title"
          [redirectTo]="item.redirectTo"
        ></app-chips>
      </div>
      <div class="chips-title">
        <p class="text--leading-5" i18n>探索品牌</p>
      </div>
      <div class="chips-content" *ngIf="popular.length > 0">
        <app-chips *ngFor="let item of popular; trackBy: trackByFn" [item]="item"></app-chips>
      </div>
    </div>
    <ng-template #skeletonChips>
      <div class="block-chips block-skeleton">
        <div class="chips-title">
          <ngx-skeleton-loader
            appearance="line"
            class="text--leading-5"
            [theme]="{
              height: '40px',
              width: '120px',
              'background-color': '#fafafa'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="chips-content">
          <app-chips *ngFor="let item of skeletonCount; trackBy: trackByFn"></app-chips>
        </div>
      </div>
    </ng-template>

    <!-- <div class="block-chips"></div> -->
  </div>

  <div class="block-content">
    <div class="block-carousel" *ngIf="cardGroupSub$ | async as card">
      <ngb-carousel *ngIf="card.length > 0">
        <ng-template ngbSlide *ngFor="let item of bannerList">
          <div class="picsum-img-wrapper">
            <img class="d-block w-100 active" [src]="item.src" />
          </div>
          <div class="carousel-caption">
            <h2>{{ item.title }}</h2>
            <h4>{{ item.subtTitle }}</h4>
            <p>{{ item.content }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <ng-container *ngFor="let item of cardGroupSub$ | async; index as i; trackBy: trackByFn">
      <app-card-widget
        *ngIf="item.length > 0; else storeSkeleton"
        [types]="'promo'"
        [title]="'優惠主打'"
        [itemList]="item"
      ></app-card-widget>
    </ng-container>
    <ng-container *ngIf="cardSub$ | async as cardList">
      <app-card-widget
        *ngIf="cardList.length > 0; else storeSkeleton"
        [types]="'all'"
        [title]="'所有餐廳'"
        [itemList]="cardList"
      ></app-card-widget>

      <div *ngIf="more && cardList.length > 0" class="block-footer">
        <button class="" (click)="viewMore()">顯示更多</button>
      </div>
    </ng-container>

    <div class="mb-4 flex flex-col flex-wrap"></div>
  </div>
  <ng-template #storeSkeleton>
    <app-card-widget [types]="'promo'" [title]="'所有餐廳'"></app-card-widget>
    <app-card-widget [types]="'all'" [title]="'所有餐廳'"></app-card-widget>
  </ng-template>
  <!-- <div class="px-4">
    <div class="mt-4">
      <app-carousel
        [slides]="[
          { img: 'https://source.unsplash.com/collection/1', title: '', redirectTo: 'login' },
          { img: 'https://source.unsplash.com/collection/2', title: '', redirectTo: 'pages/demo' },
          { img: 'https://source.unsplash.com/collection/3', title: '', redirectTo: '' },
          { img: 'https://source.unsplash.com/collection/4', title: '', redirectTo: '' },
          { img: 'https://source.unsplash.com/collection/5', title: '', redirectTo: '' }
        ]"
      ></app-carousel>
    </div>
    <div class="mb-4 flex flex-col flex-wrap">
      <ng-container *ngIf="card$ | async as per">
        <ng-container *ngFor="let item of per">
          <ng-container *ngIf="item.type !== 'all'; else all">
            <app-card-widget [types]="item.type" [title]="item.title" [products]="item.card"></app-card-widget>
          </ng-container>
          <ng-template #all>
            <app-card-widget
              [types]="item.type"
              [title]="item.title"
              [products]="item.card | amountFilter:dk"
            ></app-card-widget>
            <div *ngIf="more" class="mt-4 w-full flex items-center justify-center">
              <button class="w-32 h-10.5 bg-gold-200 text-white rounded-ten" (click)="viewMore()">顯示更多</button>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(isPlat$ | async) === 2">
  <ng-container *ngIf="card$ | async as per">
    <div class="mt-4">
      <app-swiper
        [types]="'hot'"
        [svgItems]="[
          {
            key: 'item-hot-0',
            txt: '優惠',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-1',
            txt: '健康餐',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-2',
            txt: '日韓',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-3',
            txt: '台式',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-4',
            txt: '美式',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-5',
            txt: '東南亞',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-6',
            txt: '炸雞',
            redirectTo: 'pages/demo'
          },
          {
            key: 'item-hot-7',
            txt: '飲料',
            redirectTo: 'pages/demo'
          }
        ]"
      ></app-swiper>
      <app-swiper
        [types]="'promo'"
        [slides]="[
          { img: 'https://source.unsplash.com/collection/1', title: '', redirectTo: 'login' },
          { img: 'https://source.unsplash.com/collection/2', title: '', redirectTo: 'pages/demo' },
          { img: 'https://source.unsplash.com/collection/3', title: '', redirectTo: '' },
          { img: 'https://source.unsplash.com/collection/4', title: '', redirectTo: '' },
          { img: 'https://source.unsplash.com/collection/5', title: '', redirectTo: '' }
        ]"
      ></app-swiper>
      <ng-container *ngFor="let item of per">
        <ng-container *ngIf="item.type === 'discount'">
          <app-swiper [types]="item.type" [title]="item.title" [products]="item.card"></app-swiper>
        </ng-container>
      </ng-container>
    </div>
    <div class="bg-grey-100 py-2">
      <app-swiper
        [types]="'brand'"
        [title]="'探索品牌'"
        [imgItems]="[
          {
            img: '/assets/svg/brand/item-brand-0.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-1.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-2.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-3.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-4.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-5.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-6.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-7.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-8.svg',
            redirectTo: 'pages/demo'
          },
          {
            img: '/assets/svg/brand/item-brand-9.svg',
            redirectTo: 'pages/demo'
          }
        ]"
      ></app-swiper>
    </div>
    <div>
      <ng-container *ngFor="let item of per">
        <ng-container *ngIf="item.type === 'prime'">
          <app-swiper [types]="item.type" [title]="item.title" [products]="item.card"></app-swiper>
        </ng-container>
      </ng-container>
    </div>
    <div class="h-1.5 bg-gray-100"></div>
    <div class="my-4 px-4">
      <ng-container *ngFor="let item of per">
        <ng-container *ngIf="item.type === 'all'">
          <app-card-widget
            [types]="item.type"
            [title]="item.title"
            [products]="item.card | amountFilter:mb"
          ></app-card-widget>
          <div *ngIf="more" class="mt-4 w-full flex items-center justify-center">
            <button class="w-32 h-10.5 bg-gold-200 text-white rounded-ten" (click)="viewMore()">顯示更多</button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container> -->
</div>
