.account-location {
  cursor: pointer;
  padding: 24px 47px;
  border-bottom: 1px solid #E5E4ED;
  display: grid;
  gap: 2px 10px;
  grid-template-columns: 13px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "a c";
}

.account-location-icon {
  grid-area: a;
  padding-top: 3px;
}

.account-location-name {
  grid-area: b;
}

.account-address {
  grid-area: c;
  color: #878B8E;
  font-size: 14px;
}