<div class="account-location">
  <div class="account-location-icon">
    <svg-icon color="#878B8E" key="location-arrow" fontSize="16px"></svg-icon>
  </div>
  <div class="account-location-name">
    目前地點
  </div>
  <div class="account-address">
    106台灣台北市大安區敦化南路二段99號33樓
  </div>
</div>
