<div class="container-coupon flex" *ngIf="user.userEvent$ | async as customer">
  <div class="block-tab inline-flex block-title">
    <div class="flex-0">
      <p class="text--black">{{ cart.storeInfo.store_name }}</p>
    </div>
  </div>

  <div class="block-tab">
    <ul ngbNav id="navbar-menu" class="nav nav-pills">
      <li class="nav-item" [class]="{ 'is-active': status === 'delivery' }" (click)="handleStatusChange('delivery')">
        <p class="nav-link w-auto text-nowrap text-start" i18n>外送</p>
      </li>
      <li
        class="nav-item"
        [class]="{ 'is-active': status === 'selfPickUp' }"
        (click)="handleStatusChange('selfPickUp')"
      >
        <p class="nav-link w-auto text-nowrap text-start" i18n>自取</p>
      </li>
    </ul>
  </div>
  <div
    class="block-content block-header flex row row-cols-2 row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
  >
    <div class="col">
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>時間與地址</p>
        </div>
      </div>
      <div class="block-card block--has-next">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <p class="text--second"><small i18n>現在</small></p>
          </div>
          <div class="block-card-content">
            <p class="text--black" i18n>{{ cart.storeInfo.order_prepare_time | deliveryTime }} 分鐘</p>
          </div>
        </div>
        <div class="flex-0">
          <svg-icon class="ml-1" key="right" color="#878B8E" fontSize="14px"></svg-icon>
        </div>
      </div>
      <div class="block-card block--has-next" (click)="handleAddressOpen()">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <p class="text--second"><small i18n>住家</small></p>
          </div>
          <div class="block-card-content">
            <p class="text--black" i18n>{{ gms.currentWholeAddress }}</p>
          </div>
          <div class="block-card-content">
            <p class="text--gray-light text--wrap" i18n>
              <small> 放在門口 </small>
              <small> 到了請打給我 </small>
            </p>
          </div>
        </div>
        <div class="flex-0">
          <svg-icon class="ml-1" key="right" color="#878B8E" fontSize="14px"></svg-icon>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inline-flex block-title">
        <div class="flex">
          <p class="text-title--second" i18n>餐點與費用</p>
          <a class="text--primary" [routerLink]="'/store/' + cart.storeInfo.store_id + '/product'" i18n>查看菜單</a>
        </div>
      </div>
      <div class="block-card">
        <div class="card-content">
          <div class="block-card-content container" *ngFor="let cart of cart.itemList">
            <div class="block-product block-product-list row">
              <div class="flex-0 col col-2">
                <span class="badge bg-dark">{{ cart.count }}</span>
              </div>
              <div class="flex-1 col col-7">{{ cart.product.product_name }}</div>
              <div class="flex-0 col text--primary col-3 text-right">$ {{ cart.price }}</div>
            </div>
            <ng-container *ngIf="cart.plus_item.length > 0">
              <div class="block-product block-product-plus row" *ngFor="let item of cart.plus_item">
                <div class="flex-0 col col-2"></div>
                <div class="flex-1 text--gray-light col-7">{{ item.product.product_name }}</div>
                <div class="flex-0 col-3"></div>
              </div>
            </ng-container>

            <div class="block-product block-product-plus row">
              <div class="flex-0 col col-2"></div>
              <div class="flex-1 text--primary col-7">{{ cart.remark }}</div>
              <div class="flex-0 col-3"></div>
            </div>
            <div class="block-product block-product-plus row">
              <div class="flex-0 col col-2"></div>
              <div class="flex-1 text--primary col-7">{{ cart.remark }}</div>
              <div class="flex-0 col-3"></div>
            </div>
            <div class="block-product block-product-plus row">
              <div class="col-12 text--primary container--footer">
                <svg-icon class="ml-1" key="plus" color="#c9a063" fontSize="14px"></svg-icon>新增餐點
              </div>
            </div>
          </div>
          <div class="block-card-content container">
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">小計</div>
              <div class="flex-0 col text--primary col-3 text-right">$ {{ subPrice.toString() }}</div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">外送費</div>
              <div class="flex-0 col text--primary col-3 text-right">
                $ {{ cart.storeInfo.force_shipping.toString() }}
              </div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-9 text--second">總費</div>
              <div class="flex-0 col text--primary col-3 text-right">$ {{ totalPrice.toString() }}</div>
            </div>
            <div class="block-product block-product-list row">
              <div class="col col-6">
                <button class="btn btn-submit" type="button" (click)="handleShowPromo()" i18n>選擇優惠券</button>
              </div>
              <div class="col col-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-card">
        <label class="list-group-item" (click)="isNeedTableware = !isNeedTableware">
          <input
            class="form-check-input me-1"
            type="checkbox"
            (click)="$event.stopPropagation()"
            [checked]="isNeedTableware"
          />
          提供餐具用品
        </label>
      </div>
    </div>

    <div class="col">
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>付款方式</p>
        </div>
      </div>
      <div class="block-card">
        <div class="card-content">
          <div class="block-card-content">
            <p class="text--primary text-svg-inline">
              <svg-icon class="ml-1" key="plus" color="#c9a063" fontSize="14px"></svg-icon>新增付款方式
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>電子發票</p>
        </div>
      </div>
      <div class="block-card block--has-next">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <p class="text--second">新增電子郵件地址</p>
          </div>
        </div>
        <div class="flex-0">
          <svg-icon class="ml-1" key="right" color="#878B8E" fontSize="14px"></svg-icon>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>統一編號</p>
        </div>
      </div>
      <div class="block-card block--has-next">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <input
              class="input-text text--gray-light"
              type="text"
              placeholder="請輸入統一編號"
              (input)="handleTaxNumberChange($event)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inline-flex block-title">
        <div class="">
          <p class="text-title--second" i18n>訂單變數(選填)</p>
        </div>
      </div>
      <div class="block-card block--has-next">
        <div class="card-content flex-1">
          <div class="block-card-content">
            <textarea
              class="input-text text--gray-light"
              type="text"
              placeholder="給餐廳人員的指示"
              rows="3"
              (input)="handleRemarkChange($event)"
            >
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="block-product block-btn row">
        <button class="btn btn-submit" type="button" (click)="handleSubmit()" i18n>
          送出外送訂單
          <span class="text-right">$ {{ totalPrice.toString() }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="block-content"></div>
</div>
