<div class="modal-header">
  <div class="mx-auto">
    <h4 class="ml-3 font-bold">{{ headerTitle }}</h4>
  </div>
  <svg-icon
    *ngIf="showClosed"
    class="cursor-pointer"
    key="close"
    fontSize="14px"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></svg-icon>
</div>
<div class="modal-body">
  <div *ngFor="let item of scrollContent">
    <h5 class="mb-4 font-bold text-grey-600">{{ item.title }}</h5>
    <p class="mb-4 text-grey-600">{{ item.body }}</p>
  </div>
</div>
<div class="modal-footer flex justify-center items-center">
  <button
    type="button"
    [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': !isDisabled }"
    [disabled]="isDisabled"
    class="w-full h-12 rounded-md text-white font-bold"
    (click)="activeModal.close('accept-privacy')"
  >
    {{ buttonText }}
  </button>
</div>
