
<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>繁體中文</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>繁體中文</button>
              <button ngbDropdownItem>English</button>
         
            </div>
          </div>
    </div>
</div>    