<div class="modal-header">
  <svg-icon
    class="cursor-pointer"
    key="back"
    fontSize="24px"
    aria-label="Back"
    (click)="activeModal.dismiss()"
  ></svg-icon>
  <div class="mx-auto">
    <h4 class="ml-3 font-bold">{{ headerTitle }}</h4>
  </div>
</div>
<div class="modal-body">
  <h4 class="mb-2 text-2xl text-navy-200">
     <div *ngIf="formType=== 'phone'">
        驗證手機號碼
     </div>
     <div *ngIf="formType=== 'email'">
       驗證電子郵件
   </div>
  </h4>
  <p class="text-black text-base">
    請輸入傳送至<span class="px-1 text-gold-200">{{ phoneNumber }}</span
    >的四位驗證碼。
  </p>
  <div id="otp-area" class="mt-12 mb-4 flex justify-center items-center">
    <form [formGroup]="otpForm">
      <input
        *ngFor="let i of [].constructor(otpLength); index as idx"
        class="w-12 h-14 mx-2 inline-flex border-none text-center text-2xl"
        aria-invalid="false"
        autocomplete="off"
        type="text"
        maxlength="1"
        inputmode="numeric"
        formControlName="otp{{idx}}"
        (input)="onInput()"
        otpInput
      />
    </form>
  </div>

  <p class="text-gold-200 text-center">
    重新傳送簡訊驗證碼 <span class="text-grey-500">({{ timer }}s)</span>
  </p>
</div>
<div class="modal-footer flex justify-center items-center">
  <button
    type="button"
    [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': !isDisabled }"
    [disabled]="isDisabled"
    class="w-full h-12 rounded-md text-white font-bold"
    (click)="activeModal.close('accept')"
  >
    {{ buttonText }}
  </button>
</div>
