.input-label {
    color: #002E4B;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
  .mt-24 {
    margin-top: 24px;
  }
  .mt-443 {
    margin-top: 443px;
  }

  .infor-content {
    // margin-top: 15px; Question:沒反應
    font-family: 'Noto Sans TC';
    color:#878B8E;
  }
  
  .fz-18{
    font-size: 18px;
  }
  
  .fz-16 {
    font-size: 16px;
  }
  .fz-14{
    font-size: 14px;
  }

  .layout-col{
    display: grid;
    gap: 0 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .border-button1 {
    border: 1px solid red;
    color: yellow;
  }
  .cancel-button {
    border: 1px solid #C9A063;
    color: #C9A063;
    
  }