<form [formGroup]="form" (submit)="submit()">
  <div class="modal-header">
    <div class="mx-auto">
      <div *ngIf="formTypeValue === 'update'">
        <h4 class="ml-3 font-bold fz-18">
          {{ headerTitleUpdate }}
        </h4>
      </div>
      <div *ngIf="formTypeValue === 'add'">
        <h4 class="ml-3 font-bold fz-18">
          {{ headerTitleAdd }}
        </h4>
      </div>
    </div>
    <svg-icon
      *ngIf="showClosed"
      class="cursor-pointer"
      key="close"
      fontSize="14px"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></svg-icon>
  </div>

  <div class="modal-body">
    <span class="input-label fz-16">{{ labe }}</span>
    <fieldset class="form-group">
      <input
        type="text"
        formControlName="form_cardNumber"
        [maxlength]="16"
        [minlength]="16"
        [(ngModel)]="cardNumber"
        class="mt-2 bg-grey-200 rounded-md border-none w-full fz-16 form-control form-control-lg"
        [placeholder]="placeholder"
      />
    </fieldset>
    <div class="layout-col mt-24">
      <span class="input-label fz-16"> 有效期限 </span>
      <span class="input-label fz-16"> CVV </span>
    </div>

    <div class="layout-col">
      <fieldset class="form-group">
        <input
          type="text"
          formControlName="form_validDate"
          [maxlength]="5"
          [minlength]="5"
          [(ngModel)]="validDate"
          class="mt-2 bg-grey-200 rounded-md border-none w-full fz-16 form-control form-control-lg"
          [placeholder]="palceholderValidDate"
        />
      </fieldset>
      <fieldset class="form-group">
        <input
          type="password"
          formControlName="form_cvv"
          [maxlength]="3"
          [minlength]="3"
          [(ngModel)]="cvv"
          class="mt-2 bg-grey-200 rounded-md border-none w-full fz-16 form-control form-control-lg"
          [placeholder]="placeholderCvv"
        />
      </fieldset>
    </div>
  </div>

  <div class="modal-footer layout-col flex justify-center items-center mt-443">
    <div *ngIf="formTypeValue === 'update'">
      <button
        type="button"
        [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': isDisabled }"
        [disabled]="isDisabled"
        class="w-full h-12 rounded-md cancel-button"
        (click)="activeModal.dismiss()"
      >
        {{ buttonTextDel }}
      </button>
    </div>
    <div *ngIf="formTypeValue === 'add'">
      <button
        type="button"
        [disabled]="isDisabled"
        class="w-full h-12 rounded-md cancel-button"
        (click)="activeModal.dismiss()"
      >
        {{ buttonTextCancel }}
      </button>
    </div>
    <div *ngIf="formTypeValue === 'update'">
      <button
        type="button"
        [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': !isDisabled }"
        [disabled]="isDisabled"
        class="w-full h-12 rounded-md text-white"
        (click)="activeModal.dismiss()"
      >
        {{ buttonTextUpdate }}
      </button>
    </div>
    <div *ngIf="formTypeValue === 'add'">
      <button
        type="submit"
        [ngClass]="{ 'bg-grey-470': isDisabled, 'bg-gold-100': !isDisabled }"
        [disabled]="!isFormInvalid"
        class="w-full h-12 rounded-md text-white"
      >
        {{ buttonTextAdd }}
      </button>
    </div>
  </div>
</form>
