@import '/src/styles/variable';

.container-card-widget {
  width: 100%;
  & p {
    color: $primary-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 7px;
  }
  & .row-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    &.wrap-flex {
      flex-wrap: wrap;
    }
  }
}
.flex-col {
  flex-direction: column;
}
