<div class="container-card-widget" *ngIf="itemList; else cardWidgetSkeleton">
  <p *ngIf="title" class="font-semibold w-full">{{ title }}</p>
  <div
    class="row-content row row-cols-1 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
    [ngClass]="{ 'wrap-flex': types === 'all' }"
  >
    <app-card *ngFor="let card of itemList" [card]="card"></app-card>
  </div>
</div>
<ng-template #cardWidgetSkeleton>
  <div class="container-card-widget flex flex-col">
    <ngx-skeleton-loader
      appearance="line"
      [theme]="{
        height: '32px',
        width: '120px',
        'margin-top': '1rem',
        'margin-bottom': '1rem',
        'line-height': '2rem'
      }"
    ></ngx-skeleton-loader>
    <div
      class="row-content row row-cols-1 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
      [ngClass]="{ 'wrap-flex': types === 'all' }"
    >
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</ng-template>
