#gold-desktop {
    background: linear-gradient(99.53deg, #C9A063 65.34%, #DEBF71 76.97%, #C9A063 103.12%);
    animation: show .5s forwards;
}

@keyframes show {
    from { height: 0; opacity: 0;}
    to   { height: 50px; opacity: 1;}
}

#gold-mobile {
    background: linear-gradient(99.53deg, #C9A063 65.34%, #DEBF71 76.97%, #C9A063 103.12%);
}