<ng-container *ngIf="platform <= 1">
  <div
    *ngIf="showPromo"
    id="gold-desktop"
    [ngClass]="{ 'cursor-pointer': redirectTo }"
    class="w-full flex items-center justify-center text-white text-sm"
    (click)="clickPromo()"
  >
    <span class="inline-flex">{{ promoText }}</span>
    <svg-icon
      *ngIf="redirectTo"
      class="inline-flex ml-4"
      key="right"
      color="#FFFFFF"
      fontSize="{{ svgSize }}"
    ></svg-icon>
  </div>
</ng-container>

<ng-container *ngIf="showPromo">
  <div
    *ngIf="platform === 2"
    id="gold-mobile"
    [ngClass]="{ 'cursor-pointer': redirectTo }"
    class="w-10/12 mt-4 mx-auto px-3 h-16 rounded-ten flex items-center justify-center text-white text-sm"
    (click)="clickPromo()"
  >
    <span class="inline-flex">{{ promoText }}</span>
    <svg-icon
      *ngIf="redirectTo"
      class="inline-flex ml-2"
      key="right"
      color="#FFFFFF"
      fontSize="{{ svgSize }}"
    ></svg-icon>
  </div>
</ng-container>
