@import '/src/styles/variable';

.block-content {
  width: 100%;
  padding: 1rem 12rem 0rem 12rem;
  @media (max-width: 1200px) {
    padding: 1rem 8rem 0rem 8rem;
  }
  @media (max-width: 991.98px) {
    padding: 1rem 4rem 0rem 4rem;
  }
  @media (max-width: 768px) {
    padding: 1rem 1rem 0rem 1rem;
  }
  &.block-header {
    background-color: $color-white;
    padding-top: 2rem;
    flex-direction: column;
  }
  > div {
    width: 100%;
  }
}

.block-title {
  justify-content: space-between;
}

.btn-outline-gold {
  border-radius: 2rem;
}

#navbar-menu {
  width: 100%;
  padding-right: 2rem;
  background-color: $color-white;
  z-index: 7;
  overflow-x: auto;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}

.nav-item {
  padding-top: 1rem;
  cursor: pointer;
  & > p {
    color: $color-gray-deep-dark;
  }
  &.is-active {
    cursor: default;
    border-bottom: solid 4px $primary-color;
    & > p {
      color: $primary-color;
    }
  }
}
.nav-link {
  margin-bottom: 0;
}

.card {
  max-width: 100%;
  height: 122px;
  flex-direction: row;
  margin-bottom: 1rem;
  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.card-content {
  padding-right: 0.5rem;
}

.card-img {
  width: 135px;
  height: 90px;
  margin-right: 1rem;
}

.text-gray-light {
  margin-top: 5px;
  color: $color-gray;
}

.text-break {
  overflow: hidden;
  height: 36px;
  min-height: 36px;
  line-height: 18px;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.fs-6 {
  font-size: 14px;
  margin-right: 10px;
}
.text-price {
  color: $primary-color;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

p.card-text {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.card-title {
  color: $color-black;
  margin-bottom: 0;
}

.text--second {
  color: $second-color;
  font-size: 0.9rem;
}

.btn-submit {
  width: 115px;
  margin: 03 0 0.5rem 0;
  background-color: $primary-color;
  border: none;
  color: $color-white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  &:hover,
  &:active {
    background-color: $primary-color;
    opacity: 0.7;
  }
}
