<div class="container-order">
  <div class="block-content block-header flex">
    <div class="inline-flex block-title">
      <div class=""><p class="text-title--second">訂單</p></div>
    </div>

    <div class="block-tab">
      <ul ngbNav id="navbar-menu" class="nav d-inline-flex flex-nowrap">
        <li class="nav-item" [class]="{ 'is-active': currentFilter === 0 }" (click)="handleFilterChange(0)">
          <p class="nav-link w-auto text-nowrap text-start" i18n>進行中</p>
        </li>
        <li class="nav-item" [class]="{ 'is-active': currentFilter === 1 }" (click)="handleFilterChange(1)">
          <p class="nav-link w-auto text-nowrap text-start" i18n>已成立</p>
        </li>
        <li class="nav-item" [class]="{ 'is-active': currentFilter === 2 }" (click)="handleFilterChange(2)">
          <p class="nav-link w-auto text-nowrap text-start" i18n>已完成</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="block-content">
    <div class="card cursor-pointer" *ngFor="let item of filterData" (click)="handleCardClick($event, item)">
      <div class="card-body flex-row inline-flex">
        <div class="card-img flex-0">
          <img
            default="./assets/images/NoPicture_s.png"
            src="./assets/images/NoPicture_s.png"
            class="rounded float-start"
            lazyLoad
            appImageFallback
          />
        </div>
        <div class="flex flex-1 flex-column card-content">
          <div class="card-title">{{ item.store_name }}</div>

          <p class="card-text text--second">
            {{ getItemInfo(item) }}
          </p>
          <p class="card-text text-gray-light">
            <small>{{ item.created_at }}</small>
          </p>
        </div>
        <div class="flex-0">
          <button class="btn btn-submit" type="button" (click)="addTrack(item)" i18n>追蹤</button>
        </div>
      </div>
    </div>
  </div>
</div>
