<div class="container-menu" *ngIf="itemList.length > 0">
  <ul
    ngbNav
    #nav="ngbNav"
    id="navbar-menu"
    class="nav d-inline-flex flex-nowrap"
    *ngIf="currentSection | async as section"
  >
    <li
      class="nav-item"
      [class]="{ 'is-active': section === 'menu-scrollspy-' + i.toString() }"
      *ngFor="let item of brandList; index as i; trackBy: trackByFn"
      (click)="handleScrollToIndex(i)"
    >
      <p class="nav-link w-auto text-nowrap text-start">
        {{ item }}
      </p>
    </li>
  </ul>
  <div class="content">
    <ng-scrollbar #scrollbarRef thumbClass="white-scrollbars">
      <ng-container *ngFor="let row of itemList; index as i; trackBy: trackByFn">
        <div [id]="'menu-scrollspy-' + i.toString()">
          <h5 class="text-brand-name">{{ row.brandName }}</h5>
          <div
            class="brand-content row row-cols-1 row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
          >
            <div class="col" *ngFor="let col of row.list; trackBy: trackByFn">
              <!-- <a></a> -->
              <div class="card cursor-pointer" (click)="handleCardClick($event, col.product_id)">
                <div class="card-body flex-row inline-flex">
                  <div class="flex flex-column card-content">
                    <div class="card-title">{{ col.product_name }}</div>

                    <p class="card-text text-gray-light text-break">
                      <small>{{ col.product_desc }}</small>
                      <!-- <span>...</span> -->
                    </p>

                    <p class="card-text">
                      <ng-container *ngIf="col.special_price === 0; else SpecialPrice">
                        <strong class="text-price fs-6">${{ col.price }}</strong>
                      </ng-container>
                      <ng-template #SpecialPrice>
                        <strong class="text-price fs-6">${{ col.special_price }}</strong>
                        <del class="text-gray-light fs-6">${{ col.price }}</del>
                      </ng-template>
                    </p>
                    <div class="card-body-footer">
                      <span class="badge rounded-pill bg-warning text-dark" *ngIf="col.popular > 0" i18n>熱門</span>
                    </div>
                  </div>
                  <div class="card-img">
                    <img
                      default="./assets/images/NoPicture_s.png"
                      [src]="col.product_pic"
                      [alt]="col.product_name"
                      class="rounded float-end"
                      lazyLoad
                      appImageFallback
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-scrollbar>
  </div>
</div>
