@import '/src/styles/variable';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

:root {
  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }
}

.container-menu {
  height: 100vh;
  overflow: hidden;
}

#navbar-menu {
  margin-bottom: 1rem;
  width: 100%;
  padding-right: 2rem;
  border-bottom: 1px solid $color-gray-high-light;
  background-color: $color-white;
  z-index: 7;
  overflow-x: auto;
  @media (max-width: 576px) {
    padding-right: 0;
  }
}

.content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 80px);
  margin-bottom: 1rem;
  z-index: 6;
}

.nav-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  &.is-active {
    cursor: default;
    border-bottom: solid 2px $primary-color;
    & > p {
      color: $primary-color;
    }
  }
}
.nav-link {
  margin-bottom: 0;
}

.text-brand-name,
.brand-content {
  margin-top: 1rem;
}

.text-brand-name {
  color: $primary-color;
}

.card {
  max-width: 100%;
  max-height: calc(100% - 1rem);
  flex-direction: row;
  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.card-content {
  padding-right: 0.5rem;
}

.card-img {
  width: 90px;
}

.text-gray-light {
  color: $color-gray;
}

.text-break {
  overflow: hidden;
  height: 36px;
  min-height: 36px;
  line-height: 18px;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.fs-6 {
  font-size: 14px;
  margin-right: 10px;
}
.text-price {
  color: $primary-color;
}

img {
  height: auto;
  max-width: 100%;
}

p.card-text {
  margin-bottom: 0;
  margin-top: 1rem;
}

.card-title {
  margin-bottom: 0;
}

.card-body-footer {
  margin-bottom: 1rem;
}

.badge {
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
}
