<div class="text-center" *ngIf="svgItem" (click)="selectItem(svgItem)">
  <svg-icon key="{{ svgItem.key }}" fontSize="45px"></svg-icon>
  <p *ngIf="svgItem.txt" class="mt-1.5 text-sm">{{ svgItem.txt }}</p>
</div>

<div class="text-center" *ngIf="imgItem" (click)="selectItem(imgItem)">
  <img alt="" title="" src="{{ imgItem.img }}" />
</div>
